<script src='../../js/jquery.tagsinput.min.js'></script>
<script src='../../js/app.js'></script>
<script src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js'></script>




<script type="text/JavaScript">
    function checkPasswordMatch() {
        var password = $("#password").val();
        var confirmPassword = $("#re_password").val();

        if (password != confirmPassword)
            $("#divCheckPasswordMatch").show();
        else
            $("#divCheckPasswordMatch").hide();
    };

    function checkEmptyField(field) {
        var $div = '#divCheck'+field.id;
        if (field.value == '') {
            $($div).show();
        }else{
            $($div).hide();
        }
    };

//Collapse submenu items
    $(document).ready(function () {
        $("#re_password").focusout(checkPasswordMatch);

        var pathname = $(location).attr('pathname');;

        if (pathname == '/partners/listNewArticles/' || pathname == '/partners/listNewArticles/' || pathname == '/partners/listNewArticles/'){
            $('#sl').attr('aria-expanded','true');
            $('#sl').attr('class','sublinks collapse in');
        }
    });

    function currencyFormatIT (num) {
        return num
                .toFixed(2) // always two decimal digits
                .replace(".", ",") // replace decimal point character with ,
                .replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") + " €" // use . as a separator
    }

 //GOOGLE ANALYTICS
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% block foot %}{% endblock %}
