{# copyright and footer links #}

    <div class="footer-menu margin-top-15">
        <a href="http://www.cvol.it/" target="_blank"><span class="text-dark-gray">Società</span> </a> | <a href="http://www.cvol.it/" target="_blank"><span class="text-dark-gray">Stampa</span></a> | <a href="http://www.cvol.it" target="_blank" data-test="cms-imprint"><span class="text-dark-gray">Informazioni</span></a> | <a href="http://www.cvol.it"><span class="text-dark-gray">Contatto</span></a> | <a href="http://www.cvol.it" target="_blank" data-test="cms-terms"><span class="text-dark-gray">Condizioni generali</span></a> | <a href="http://www.cvol.it" target="_blank" rel="nofollow" data-test="cms-privacy"><span class="text-dark-gray">Privacy</span></a> | <a href="http://www.cvol.it"><span class="text-dark-gray">Compro</span></a> | <a href="http://www.cvol.it"><span class="text-dark-gray">Vendo</span></a>
    </div>

<div class="footer-menu footer-copy margin-top-15">
    © Copyright 2015 a cura di CVOL Srl. Tutti i diritti riservati.<br>
    ContoVendita OnLine: il primo sito dove poter vendere i propri veicoli in conto vendita

</div>


