<!doctype html>
<html>
  <head prefix="og: http://contovenditaonline.it">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ title }} | {{ pkg.name }}</title>
    <meta name="keywords" content="{{ pkg.keywords.join(',') }}">
    <meta name="description" content="{{ pkg.description }}">

    {# Opengraph tags #}
    <meta property="fb:app_id" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="http://">
    <meta property="og:site_name" content="ContoVendita OnLine">
    <meta property="fb:admins" content="">

    {% block head %}
      {# Styles #}
      <link type="text/css" rel="stylesheet" href="../../css/bootstrap.min.css">
      <link type="text/css" rel="stylesheet" href="../../css/vegas.min.css">
      <link type="text/css" rel="stylesheet" href="../../css/custom.css">
      <link type="text/css" rel="stylesheet" href="../../css/font-awesome.css">

      <script src='https://www.google.com/recaptcha/api.js'></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <!-- Bootstrap JavaScript -->
      <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    {% endblock %}
  </head>

  {# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
  <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
    <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>

  <![endif]-->


  <!-- Bootstrap CSS -->

