
  <!--      <li class="{% if (isActive('/articles/new')) %}active{% endif %}">
          <a href="/articles/new" title="new article">New</a>
        </li>
-->
          <!-- Old header --
<header>
    <nav class="navbar navbar-static-top navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/images/logo.png" alt="Conto Vendita Online" width="143" height="48">
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="navbar-right">
                    <ul class="list-inline margin-top-25">

                        {% if (req.isAuthenticated()) %}
                        <li class="{% if (isActive('/users/' + req.user.id )) %}active{% endif %}">
                            {% if (req) %}
                            <a href="{{ '/partners/' + req.user.id }}" title="Profile"> Partner Area  </a>

                            {% else %}
                            <a href="{{ '/users/' + req.user.id }}" title="Profile"> Profilo  </a>
                            {% endif %}
                        </li>
                        <li>|</li>
                        <li>
                            <a href="/logout" title="logout">Esci</a>
                        </li>
                        {% else %}
                        <li><a href="/login" class="text-dark-gray">Login</a></li>
                        <li>|</li>
                        <li><a href="/signup" class="text-dark-gray">Registrazione</a></li>
                        {% endif %}
                    </ul>
                </div>
                <form action="/articles/search" class="navbar-form navbar-left search margin-top-20" method="GET">
                    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                    <input type="hidden" name="price1" value="">
                    <input type="hidden" name="price2" value="">
                    <input type="hidden" name="year1" value="">
                    <input type="hidden" name="year2" value="">
                    <input type="hidden" name="Km1" value="">
                    <input type="hidden" name="Km2" value="">
                    <input type="hidden" name="fuel" value="0">
                    <div class="form-group vehicle-chooser" data-toggle="buttons">
                        <label id="car-icon" class="btn btn-transparent active">
                            <input type="radio" name="options" id="car" checked="">
                        </label>
                        <label id="moto-icon" class="btn btn-transparent">
                            <input type="radio" name="options" id="moto">
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" placeholder="Cosa cerchi?">
                    </div>
                    <div class="form-group inner-addon left-addon">
                        <span class="glyphicon glyphicon-map-marker text-gray"></span>
                        <input type="text" class="form-control input-sm" placeholder="Città">
                    </div>
                    <button type="submit" class="btn btn-transparent"><span class="glyphicon glyphicon-search text-dark-gray"></span><span class="visible-xs">Search</span></button>
                </form>
            </div>
        </div>
    </nav>
</header>
End  Old header -->


  <header>
      <div class="container">
          <nav class="navbar navbar-default">
              <div class="row">
                  <div class="col-sm-3">
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="/">
                              <img src="../../images/logo.png" alt="Conto Vendita Online" class="img-responsive">
                          </a>
                      </div>
                  </div>
                  <div class="col-sm-9">
                      <div class="collapse navbar-collapse navbar-ex1-collapse">
                          <div class="row">

                              <form action="/articles/search" class="search col-sm-9 margin-top-10" role="search" method="GET">
                                  <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                                  <input type="hidden" name="price1" value="">
                                  <input type="hidden" name="price2" value="">
                                  <input type="hidden" name="year1" value="">
                                  <input type="hidden" name="year2" value="">
                                  <input type="hidden" name="Km1" value="">
                                  <input type="hidden" name="Km2" value="">
                                  <input type="hidden" name="fuel" value="0">
                                  <div class="row">
                                      <div class="col-sm-2 padding-0">
                                          <div class="form-group vehicle-chooser" data-toggle="buttons">
                                              <label id="moto-icon" class="btn btn-transparent">
                                                  <input type="radio" name="options" id="moto">
                                              </label>
                                              <label id="car-icon" class="btn btn-transparent active">
                                                  <input type="radio" name="options" id="car" checked>
                                              </label>
                                          </div>
                                      </div>
                                      <div class="col-sm-7 col-lg-8 margin-top-5">
                                          <div class="row">
                                              <div class="col-sm-6">
                                                  <div class="form-group inner-addon left-addon">
                                                      <span class="glyphicon glyphicon-th-list text-gray"></span>
                                                      <input type="text" class="form-control input-sm" placeholder="Marca">
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group inner-addon left-addon">
                                                      <span class="glyphicon glyphicon-calendar text-gray"></span>
                                                      <input type="text" class="form-control input-sm" placeholder="Anno">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-sm-6">
                                                  <div class="form-group inner-addon left-addon">
                                                      <span class="glyphicon glyphicon-th-list text-gray"></span>
                                                      <input type="text" class="form-control input-sm" placeholder="Modello">
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group inner-addon left-addon">
                                                      <span class="glyphicon glyphicon-map-marker text-gray"></span>
                                                      <input type="text" class="form-control input-sm" placeholder="Provincia">
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-3 col-lg-2">
                                          <button type="submit" class="btn btn-dark-green btn-block text-uppercase margin-top-30 margin-bottom-10">Cerca</button>
                                      </div>
                                  </div>
                              </form>
                              <div class="col-sm-3">
                                  {% if (req.isAuthenticated()) %}
                                <!--  <li class="{% if (isActive('/users/' + req.user.id )) %}active{% endif %}"> -->
                                      {% if (req.user.piva != null) %}
                                      <a href="{{ '/partners/' + req.user.id }}" title="Profile" class="btn btn-block btn-sm btn-outline-dark-blue  text-uppercase margin-top-20"> Partner Area  </a>

                                      {% else %}
                                      <a href="{{ '/users/' + req.user.id }}" title="Profile" class="btn btn-block btn-sm btn-outline-dark-blue  text-uppercase margin-top-20"> Profilo  </a>
                                      {% endif %}

                                      <a href="/logout" title="logout" class="btn btn-block btn-sm btn-dark-blue  text-uppercase margin-bottom-10">Esci</a>

                                  {% else %}
                                  <a href="/login" class="btn btn-block btn-sm btn-outline-dark-blue  text-uppercase margin-top-20">Login</a>
                                  <a href="/signup" class="btn btn-block btn-sm btn-dark-blue  text-uppercase margin-bottom-10">Registrati</a>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </nav>
      </div>
  </header>
