{% include '../includes/head.html' %}

<body>
<div class="contents">
{% include '../includes/header.html' %}




{% block main %}
{% block content %}



<div class="main-content">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 margin-top-50">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Accesso Partner
                            <p align="right">{{ user.email || user.username }}</p> </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {% include '../includes/messages.html' %}
                            <div class="col-sm-4">

                                Perchè diventare Partner?<br>
                                Quali sono i vantaggi?<br>
                                Come funziona?<br>
                                Quanto costa?<br>
                            </div>

                            <div class="col-sm-8">
                                <div class="login">
                                    {% block auth %}{% endblock %}
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
{% endblock %}
</div>

{% include '../includes/footer.html' %}
{% include '../includes/foot.html' %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/JavaScript">

    $(function() {
        var availableCity = [];

        $.ajax({
            url: '/data/comuni.json',
            dataType: 'JSON',
            success: function (data) {
                $.each(data, function (key, val) {
                    //$select.append('<option value="' + val.CodiceMarca + '">' + val.Descrizione + '</option>');
                    var obj = {
                        key: val.codice_comu_istat ,
                        province: val.codice_prov_istat ,
                        lat:val.lat,
                        lon:val.lng,
                        label:val.name,
                        capoluogo: val.capoluogo_prov
                    }
                    availableCity.push(obj);
                });
            },
            error: function () {
                //if there is an error append a 'none available' option

            }
        });


        $( "#city" ).autocomplete({
            source: function(req, responseFn) {
                var re = $.ui.autocomplete.escapeRegex(req.term);
                var matcher = new RegExp( "^" + re, "i" );
                var a = $.grep( availableCity, function(item,index){
                    return matcher.test(item.label);
                });
                responseFn( a );
            },
            minLength: 3,
            messages: {
                noResults: '',
                results: function() {}
            },
            select: function(event, ui) {
                $('#lat').val(ui.item.lat);
                $('#lon').val(ui.item.lon);
                $('#prov').val(ui.item.province);
                $('#cityCode').val(ui.item.key);
                $('#city').val(ui.item.label);
            },
            change: function (event, ui) {
                if (!ui.item) {
                    //http://api.jqueryui.com/autocomplete/#event-change -
                    // The item selected from the menu, if any. Otherwise the property is null
                    //so clear the item for force selection
                    $("#city").val("");
                }
            }
        });

    });


    var toValidate = $('#name, #username, #email, #password, #re_password, #city'),
            valid = false;
    toValidate.keyup(function () {
        if ($(this).val().length > 0) {
            $(this).data('valid', true);
        } else {
            $(this).data('valid', false);
        }
        toValidate.each(function () {
            if ($(this).data('valid') == true) {
                valid = true;
            } else {
                valid = false;
            }
        });
        if (valid === true) {
            $('#register').prop('disabled', false);
        }else{
            $('#register').prop('disabled', true);
        }
    });


    $('#buttonfile').click(function(){ $('#file').trigger('click'); });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var $div = '#'+input.id + '_img';
            reader.onload = function (e) {
                console.log("Uploading " + e );
                $($div)
                        .attr('src', e.target.result)
                        .class="thumbnail img img-responsive";
            };

            reader.readAsDataURL(input.files[0]);
        }
    };


</script>


</body>
</html>
