{% extends 'auth.html' %}

{% block auth %}
  <form action="/partners/session" method="post" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">

    <p class="col-sm-offset-2 error">
      {{ message }}
    </p>
  <div class="row">
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-8">
        <input id="email" class="form-control" type="email" placeholder="Email" name="email">
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-8">
        <input id="password" class="form-control" type="password" placeholder="Password" name="password">
      </div>
    </div>

    <div class="form-group">

            <div class="col-sm-8 col-sm-offset-2">
                <button class="btn-green  btn-outline-green col-sm-3" type="submit">  Log in  </button>
                <div class="col-sm-8 control-label">
                    <a href="/users/forgot">Password dimenticata?</a>
               </div>
                <p class="alert margin-top-30">

                Non sei ancora registrato? <br>
                <a href="/partners/signup">Clicca qui e Registrati subito!</a>
                </p>

            </div>

    </div>
  </div>
  </form>
{% endblock %}

