<div id="menu">
    <div class="panel list-group">
        <a href="/partners/{{ req.user.id }}" class="list-group-item">Anagrafica azienda ____________<span class="glyphicon glyphicon-pencil pull-right"></span></a>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sl" data-parent="#menu">Gestione veicoli <span class="glyphicon glyphicon-stats pull-right"></span></a>
        <div id="sl" class="sublinks collapse">
            <a href="/partners/listNewArticles/" class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Cerca nuovi veicoli</a>
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Veicoli in gestione</a>
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Veicoli gestiti</a>
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sm" data-parent="#menu">Messaggi <span class="label label-info">5</span> <span class="glyphicon glyphicon-envelope pull-right"></span></a>
        <div id="sm" class="sublinks collapse">
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> inbox</a>
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> inviati</a>
        </div>
        <a href="#" class="list-group-item">Gestisci <br> abbonamento   <span class="glyphicon glyphicon-credit-card pull-right"></span></a>
    </div>
</div>
