{% include '../includes/head.html' %}

<body>
<div class="contents">
{% include '../includes/header.html' %}

{% block content %}



<div class="main-content">
    <div class="container">

        <div class="row equal-height">

        <div class="col-sm-4 col-md-3 margin-top-50 equal-height">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Profilo Partner</h3>
        </div>
        <div class="panel-body">
{% include 'menu.html' %}
        </div>
        </div>
        </div>



            <div class="col-sm-8 col-md-9 margin-top-50 equal-height">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" align="right">Nuovi Annunci</h3>
                        </div>
                         <div class="panel-body">
                              <div class="row">
                                  {% include '../includes/messages.html' %}
                               <div class="col-sm-12">
                                   {% if (articles.length) %}
                                   {% for article in articles %}
                                   <div class="list-group">
                                       <div class="list-group-item">
                                           <div class="row">
                                               <div class="col-sm-2">
                                                   {% if (!article.isNew && article.image && article.image.files && article.image.files.length) %}
                                                   <a href="{{ '/articles/' + article._id }}" class="text-underline" title="{{ article.name }}">
                                                       <img src="{{ article.image.cdnUri + '/' + article._id + '/thumb_' + article.image.files[0].originalname }}" alt="" class="img-responsive">
                                                   </a>
                                                   {% else %}
                                                   <img src="../../images/NoImagePlaceholder.png" alt="Nessuna immagine" class="img-responsive">
                                                   {% endif %}
                                                   <div class="text-right margin-top-5">
                                                       <a href="#"><span class="label label-default">{{ article.image.files.length }} <img src="../../images/camera.png" alt=""></span></a>
                                                   </div>
                                               </div>
                                               <div class="col-sm-6">
                                                   <a href="{{ '/articles/' + article._id }}" class="text-underline" title="{{ article.name }}">{{ article.name }}</a>
                                                   <p>{{ article.description }}</p>
                                               </div>

                                               <div class="col-sm-4">
                                               <div class="row">
                                                   <div class="col-sm-12 text-right margin-top-10">
                                                       <button type="button" class="btn btn-green text-bold">{{ article.price }} €</button>
                                                   </div>
                                                       <div class="col-sm-12 text-right margin-top-5">
                                                           <span class="glyphicon glyphicon-calendar"></span>
                                                           <span class="muted">{{ article.createdAt.toISOString()|date('d/m/Y') }}</span>
                                                       </div>
                                                       <div class="col-sm-12 text-right margin-top-5">
                                                           <span class="glyphicon glyphicon-road"></span>
                                                           <span class="muted">{{ article.km }} KM</span>
                                                       </div>
                                                       <div class="col-sm-12 text-right margin-top-5">
                                                           <span class="glyphicon glyphicon-map-marker"></span>
                                                           <span class="muted">{{ article.city }}</span>
                                                       </div>
                                                </div>
                                               </div>
                                               <div class="col-sm-4">
                                                   <form action="{{ '/articles/' + article.id }}" method="post" onsubmit="return confirm('Stiamo per nviare la richiesta all\'utente, Vuoi procedere?')">
                                                       <br>
                                                       <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                                                       <input type="hidden" name="_method" value="DELETE">
                                                       <button class="btn" type="submit">Vuoi gestire la vendita di questo veicolo?</button>
                                                   </form>
                                               </div>


                                       </div>
                                   </div>
                                  </div>
                                   {% endfor %}
                                   <div class="panel-body">
                                       <div class="pager-nav text-center">
                                           {% if (pages > 0) %}
                                           <ul class="pagination">
                                               {% autoescape false %}
                                               {{ createPagination(pages, page) }}
                                               {% endautoescape %}
                                           </ul>
                                           {% endif %}
                                           {% else %}
                                           <h4 class="muted">
                                               Non ci sono annunci.&nbsp;
                                               <a href="/articles/new">Inserisci il tuo primo annuncio!</a>
                                           </h4>
                                           {% endif %}
                               </div>
                        </div>
                    </div>
                </div>
            </div>


    </div>
        </div>
    </div>
   </div>
</div>
    {% endblock %}
</div>
    {% include '../includes/footer.html' %}
    {% include '../includes/foot.html' %}


</body>

</html>