{% include '../includes/head.html' %}

<body>
<div class="contents">
{% include '../includes/header.html' %}

{% block content %}



<div class="main-content">
    <div class="container">

        <div class="row equal-height">

        <div class="col-sm-4 col-md-3 margin-top-50 equal-height">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Profilo Partner</h3>
        </div>
        <div class="panel-body">
{% include 'menu.html' %}
        </div>
        </div>
        </div>



            <div class="col-sm-8 col-md-9 margin-top-50 equal-height">
                <div class="panel panel-default col-sm-12">
                    <div class="panel-heading col-sm-12">
                        <h3 class="panel-title" align="right"> Anagrafica Azienda</h3>
                        </div>
                         <div class="panel-body">
                              <div class="row">
                                  {% include '../includes/messages.html' %}
                               <div class="col-sm-12">




 {% if !partner.active && partner.smscount < 3  %}
                                   <div class="col-md-offset-2 col-sm-10" >
 Completa subito la tua registrazione:
  <div class="list-group-item">
                                 <p class="alert">
                                    Per poter inserire gli annunci è necessario verificare il proprio account<br>
                                    Il numero di telefono su cui riceverai il messaggio con il codice di attivazione è il seguente :<br>
                                    {{ partner.cell }} <br>se non è corretto inserisci il numero di telefono (es. 3341234567)<br>
                                 SMS inviati = {{ partner.smscount }}
                                 </p>

                                    <form action="/partners/sendMessage" method="post" role="form" class="form-horizontal">
                                        <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                                        <input type="hidden" name="id" value="{{ partner.id }}">

                                        <input type="text" name="cell" value="{{ partner.cell }}">

                                        <input type="submit" text="invia SMS" class="btn-green">
                                    </form>


  </div>
                                       </div>
{% endif %}

{% if !partner.active && partner.smscount > 0 %}
                                   <div class="col-md-offset-2 col-sm-8 margin-top-15" >


                                       <div class="form-group">
                                       <form action="/partners/activate" method="post" role="form" class="form-horizontal">
                                           <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                                           <input id="username" type="hidden" name="id" value="{{ partner.id }}">
                                       </div>
                                       <p class="alert">Inserisci il codice ricevuto tramite SMS e procedi con l'attivazione:
</p>


                                        <div class="form-group">
                                            <input id="code" class="form-control" type="code" placeholder="Codice" name="code">
                                            </div>

                                       </p>

<br>
                                    <div class="form-group">

                                            <button class="btn-green" type="submit">Attiva account</button>

                                    </div>
                                </form>

                                   </div>
{% endif %}


                                   <div class="col-sm-7">
                                       <div class="galleria">
                                           {% if (partner.image && partner.image.files && partner.image.files.length) %}

                                            <img src="{{ partner.image.cdnUri + '/' + partner.id + '/mini_' + partner.image.files[0].originalname }}" alt="" data-big="{{ partner.image.cdnUri + '/' + partner.id + '/preview_' + partner.image.files[0].originalname }}">

                                           {% else %}
                                           <img src="../../images/NoImagePlaceholder.png" alt="">
                                           {% endif %}
                                       </div>
                                   </div>

                                        <h3>Azienda: {{ partner.name }}</h3>
                                        <h3>Referente: {{ partner.username }}</h3>
                                        <h3>P. IVA: {{ partner.piva }}</h3>
                                        <h3>Città: {{ partner.city }}</h3>
                                        <h3>Indirizzo: {{ partner.address }}</h3>
                                        <h3>CAP: {{ partner.cap }}</h3>
                                        <h3>Telefono: {{ partner.cell }}</h3>
                                        <h3>Sito: {{ partner.website }}</h3>
                                        <h3>Skype: {{ partner.skype }}</h3>
                                        <h3>Utente attivo: {{ partner.active }}</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
        </div>
</div>
    {% endblock %}
</div>
    {% include '../includes/footer.html' %}



{% include '../includes/foot.html' %}

</body>

</html>