{% extends 'auth.html' %}

{% extends 'auth.html' %}
{% block message %}{% endblock %}
{% block errors %}{% endblock %}
{% block auth %}
<form action="/partners" method="POST" enctype="multipart/form-data" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <input type="hidden" name="prov" value="{{ user.prov }}" id="prov"/>
    <input type="hidden" name="cityCode" value="{{ user.cityCode }}" id="cityCode"/>
    <input type="hidden" name="lat" value="{{ user.lat }}" id="lat"/>
    <input type="hidden" name="lon" value="{{ user.lon }}" id="lon"/>

    <div class="form-group">
        <label for="name" class="col-sm-4 control-label">Azienda</label>
        <div class="col-sm-8">
            <input id="name" class="form-control" type="text" name="name" placeholder="Ragione Sociale" value="{{ partner.name }}" onblur="checkEmptyField(this);">
        </div>
    </div>
    <div class="col-sm-offset-4 alert-danger margin-bottom-10" id="divCheckname" hidden="true" align="center">Attenzione! Il campo Azienda è obbligatorio</div>


    <div class="form-group">
        <label for="piva" class="col-sm-4 control-label">Partita IVA</label>
        <div class="col-sm-8">
            <input id="piva" class="form-control" type="number" name="piva" placeholder="Partita IVA" value="{{ partner.piva }}" onblur="checkEmptyField(this);">
        </div>
    </div>
    <div class="col-sm-offset-4 alert-danger margin-bottom-10" id="divCheckpiva" hidden="true" align="center">Attenzione! Il campo Partita IVA è obbligatorio</div>


    <div class="form-group">
        <label for="username" class="col-sm-4 control-label">Persona di riferimento</label>
        <div class="col-sm-8">
            <input id="username" class="form-control" type="text" name="username" placeholder="Cognome" value="{{ partner.username }}" onblur="checkEmptyField(this);">
        </div>
    </div>
    <div class="col-sm-offset-4 alert-danger margin-bottom-10" id="divCheckusername" hidden="true" align="center">Attenzione! Il campo Persona di riferimento è obbligatorio</div>

    <div class="form-group">
        <label for="email" class="col-sm-4 control-label">E-mail</label>
        <div class="col-sm-8">
            <input type="text" name="email" placeholder="Email" value="{{ partner.email }}" id="email" class="form-control" onblur="checkEmptyField(this);">
        </div>
    </div>
    <div class="col-sm-offset-4 alert-danger margin-bottom-10" id="divCheckemail" hidden="true" align="center">Attenzione! Il campo e-mail è obbligatorio</div>


    <div class="form-group">
        <label for="password" class="col-sm-4 control-label">Password</label>
        <div class="col-sm-8">
            <input id="password" class="form-control" type="password" name="password" placeholder="Password" aria-required="true">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-4 control-label">Ripeti Password</label>
        <div class="col-sm-8">
            <input id="re_password" class="form-control" type="password" name="re_password" placeholder="Ripeti Password" aria-required="true">
        </div>

    </div>

    <div class="col-sm-offset-4 alert-danger margin-bottom-10" id="divCheckPasswordMatch" hidden="true" align="center">Attenzione! Le password non corrispondono!</div>

    <div class="form-group">
        <label for="cell" class="col-sm-4 control-label">Cellulare</label>
        <div class="col-sm-8">
            <input id="cell" class="form-control" type="tel" name="cell" placeholder="Numero Cellulare" value="{{ partner.cell }}" onblur="checkEmptyField(this);">
        </div>
    </div>
    <div class="col-sm-offset-4 alert-danger margin-bottom-10" id="divCheckcell" hidden="true" align="center">Attenzione! Il numero di telefono è necessario se si vuole inserire un annuncio</div>

    <div class="form-group">
        <label for="cell" class="col-sm-4 control-label">Indirizzo</label>
        <div class="col-sm-8">
            <input id="address" class="form-control" type="text" name="address" placeholder="Indirizzo" value="{{ partner.address }}" onblur="checkEmptyField(this);">
        </div>
    </div>
    <div class="col-sm-offset-4 alert-danger margin-bottom-10" id="divCheckaddress" hidden="true" align="center">Attenzione! Il campo indirizzo non può essere vuoto</div>


    <div class="form-group">
        <label for="city" class="col-sm-4 control-label">Comune</label>
        <div class="col-sm-8">
            <input id="city" class="form-control" type="city" name="city" placeholder="Comune" autocomplete="off" aria-required="true" value="{{ partner.city }}" >
        </div>
    </div>

    <div class="form-group">
        <label for="city" class="col-sm-4 control-label">CAP</label>
        <div class="col-sm-8">
            <input id="cap" class="form-control" type="cap" name="cap" placeholder="CAP" autocomplete="off" aria-required="true" value="{{ partner.cap }}" >
        </div>
    </div>

    <div class="form-group">
    <label for="website" class="col-sm-4 control-label">Website</label>
        <div class="col-sm-8">
            <input id="website" class="form-control" type="url" name="website" placeholder="http://www.miosito.it" autocomplete="off" aria-required="true" value="{{ partner.website }}" >
        </div>
    </div>

    <div class="form-group">
        <label for="skype" class="col-sm-4 control-label">Skype</label>
        <div class="col-sm-8">
            <input id="skype" class="form-control" type="text" name="skype" placeholder="ID Skype" autocomplete="off" aria-required="true" value="{{ partner.skype }}" >
        </div>
    </div>
    <div class="form-group">
        <label for="file" class="col-sm-4 control-label">Logo</label>
        <div class="col-sm-8">
            <input type="file" id="file" name="image" style="visibility: hidden; width: 1px; height: 1px"  multer onchange="readURL(this);"/><a href="" onclick="document.getElementById('file').click(); return false"><img id="file_img" src="../../images/NoImagePlaceholder.png" class="thumbnail img img-responsive"></a>

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Captcha</label>
        <div class="col-sm-8">
            <div class="g-recaptcha" data-sitekey="6LcTCQgTAAAAAH76AFbIYXmU94FAlIn-jfFbkygM"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn-green btn-outline-green" type="submit" disabled="disabled" id="register">Registrati</button>
        </div>
    </div>
</form>

{% endblock %}
