html {
    height: 100%;
    background-color: #d5d5d5;
}
body {
    max-width: 1680px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #fff;
}
a {
    color: #4d4d4d;
}
/*---------------------------
| TEXT HELPER
---------------------------*/
.text-bold {
    font-weight: bold;
}
.text-underline {
    text-decoration: underline;
}
.text-white {
    color: #fff;
}
.text-gray {
    color: #AEAEAE;
}
.text-dark-gray {
    color: #70737a;
}
.text-black {
    color: #000000;
    font-size: 16px;
}
.font-size-20 {
    font-size: 20px;
    letter-spacing: 2px;
}
/*---------------------------
| MARGIN HELPER
---------------------------*/
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-25 {
    margin-top: 25px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-45 {
    margin-top: 45px;
}
.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-25 {
    margin-bottom: 25px;
}
/*---------------------------
| PADDING HELPER
---------------------------*/
.padding-0 {
    padding: 0;
}
/*---------------------------
| NAVBAR
---------------------------*/
.navbar {
    min-height: 110px;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navbar-default {
    color: #70737a;
    background-color: #fff;
}
.navbar-collapse {
    border: none;
    box-shadow: none;
}
.navbar-toggle {
    margin-top: 30px;
    margin-bottom: 35px;
}
.navbar-brand > img {
    width: 160px;
}
.search {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-color: #f2f2f2;
}
.search .form-control {
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    box-shadow: none;
}
.search .form-control:hover {
    box-shadow: none;
}
.vehicle-chooser {
    position: relative;
    display: inline-block;
    width: 100%;
}
.vehicle-chooser .btn-transparent {
    position: relative;
    float: left;
    width: 50%;
    border: none;
    border-radius: 0;
    background-color: transparent;
}
.vehicle-chooser .btn-transparent:first-of-type {
    border-top-left-radius: 10px;
}
.vehicle-chooser .btn-transparent:last-of-type {
    border-top-right-radius: 10px;
}
.vehicle-chooser .btn-transparent.active::after {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 0 auto;
    content: '';
    border-top: 8px solid #7dc249;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
#car-icon.btn-transparent {
    height: 44px;
    background: url('../images/icoautooff.png') no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    box-shadow: none;
}
#moto-icon.btn-transparent {
    height: 44px;
    background: url('../images/icomotooff.png') no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    box-shadow: none;
}
#car-icon.btn-transparent.active {
    background: #7dc249 url('../images/icoautoon.png') no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    box-shadow: none;
}
#moto-icon.btn-transparent.active {
    background: #7dc249 url('../images/icomotoon.png') no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    box-shadow: none;
}

.search .form-control::-webkit-input-placeholder {
    color: #404040;
}
.search .form-control:-moz-placeholder {
    color: #404040;
}
.search .form-control::-moz-placeholder {
    color: #404040;
}
.search .form-control:-ms-input-placeholder {
    color: #404040;
}

@media only screen and (min-width: 768px) {
    .search {
        height: 90px;
    }
    .vehicle-chooser .btn-transparent:first-of-type {
        border-top-left-radius: 10px;
    }
    .vehicle-chooser .btn-transparent:last-of-type {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    .vehicle-chooser .btn-transparent {
        width: 100%;
    }
    .vehicle-chooser .btn-transparent.active::after {
        position: absolute;
        top: 35%;
        right: 0;
        left: 100%;
        width: 0;
        height: 0;
        content: '';
        border-top: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #7dc249;
    }
    #car-icon.btn-transparent {
        -webkit-background-size: 80%;
        background-size: 80%;
    }
    #moto-icon.btn-transparent {
        -webkit-background-size: 60%;
        background-size: 60%;
    }
    #car-icon.btn-transparent.active {
        -webkit-background-size: 80%;
        background-size: 80%;
    }
    #moto-icon.btn-transparent.active {
        -webkit-background-size: 60%;
        background-size: 60%;
    }
}

@media screen and (min-width: 992px) {
    .navbar-brand >img {
        width: 200px;
    }
}
@media screen and (min-width: 1200px) {
    .navbar-brand > img {
        width: auto;
    }
}
/*---------------------------
| FORM
---------------------------*/
.form-control {
    color: #cdcdcd;
    border: 1px solid #cdcdcd;
    border-radius: 0;
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
}
select.form-control {
    background: url('img/arrow-down.png') no-repeat right #fff;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.form-control option:focus {
    outline: 1px solid red;
    box-shadow: none;
}
select.input-sm {
    line-height: 1;
}
/*give required inputs a yellow border */
input:required,
textarea:required {
    border:2px solid yellow;

}
/* turn the border green when it becomes valid */
input:valid,
textarea:valid {
    border:1px solid green;
    background:#fff;

}
/*turn the border red if not valid */
input:focus:invalid,
textarea:focus:invalid {
    border:1px solid red;

}
/*---------------------------
| BUTTONS
---------------------------*/
.btn.active,
.btn:active {
    box-shadow: none;
}
.btn-transparent {
    background-color: transparent;
}
.btn-outline-green {
    color: #64e109;
    border: 3px solid #64e109;
    border-radius: 6px;
    background-color: #fff;
}
.btn-outline-green:hover,
.btn-outline-green:focus,
.btn-outline-green:active {
    color: #71c834;
}
.btn-green {
    color: #fff;
    border: none;
    background-color: #71c834;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active {
    color: #fff;
}
.btn-dark-green {
    color: #fff;
    border: none;
    background-color: #7dc249;
}
.btn-dark-green:hover,
.btn-dark-green:focus,
.btn-dark-green:active {
    color: #fff;
}
.btn-dark-blue {
    color: #fff;
    border: 1px solid #5a707a;
    border-radius: 6px;
    background-color: #5a707a;
}
.btn-dark-blue:hover,
.btn-dark-blue:focus,
.btn-dark-blue:active {
    color: #fff;
}
.btn-outline-dark-blue {
    color: #5a707a;
    border: 1px solid #5a707a;
    border-radius: 6px;
    background-color: #fff;
}
.btn-outline-dark-blue:hover,
.btn-outline-dark-blue:focus,
.btn-outline-dark-blue:active {
    color: #5a707a;
}
/*---------------------------
| CHECKBOX
---------------------------*/
.checkbox label {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding-left: 25px;
    cursor: pointer;
}
.checkbox label::before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    content: '';
    border: 1px solid #ddd;
    background-color: #fff;
}
input[type='checkbox'] {
    display: none;
}
input[type='checkbox']:checked + label::before {
    font-family: 'Glyphicons Halflings';
    font-size: 13px;
    line-height: 18px;
    content: '\e013';
    text-align: center;
    color: #231f20;
}
/*---------------------------
| LABEL
---------------------------*/
.label-default {
    background-color: #5a707a;
}
/*---------------------------
| LIST GROUP ITEM
---------------------------*/
.list-group-item {
    border: 1px solid #e5e5e5;
}
.panel > .list-group .list-group-item:last-of-type {
    border-bottom: none;
}
/*---------------------------
| PAGINATION
---------------------------*/
.pager-nav {
    border-top: 4px double #e5e5e5;
}
.pagination > li > a,
.pagination > li > span {
    color: #0003ff;
    border: none;
}
.pagination > li:not(.disabled) > a,
.pagination > li:not(.disabled) > span {
    text-decoration: underline;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background-color: transparent;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #5a707a;
    border-color: #5a707a
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}
/*---------------------------
| ADDON ICON INPUT
---------------------------*/
/* enable absolute positioning */
.inner-addon {
    position: relative;
}
/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 8px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 0;
}
.right-addon .glyphicon {
    right: 0;
}
/* add padding  */
.left-addon input {
    padding-left: 30px;
}
.right-addon input {
    padding-right: 30px;
}
/*---------------------------
| MAIN CONTENT
---------------------------*/
.contents {
    background-color: #dde1e3;
}
.main-content {
    position: relative;
    min-height: 650px;
    background-color: transparent;
}
.main-content .vertical-align-middle {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    vertical-align: top;
}
@media screen and (min-width: 768px) {
    .equal-height {
        display: -webkit-box;
        display: -webkit-flex;
        display:         flex;

        flex: 1 0 auto;
    }
}

.search-results a {
    color: #0003ff;
}
.table > tbody > tr:not(:last-of-type) > td {
    border-top: none;
    border-bottom: 1px solid #c0c0c0;
}
.share {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    background-color: #e5e5e5;
}
.share .fa {
    font-size: 18px;
}
.border-top-bottom {
    padding-bottom: 15px;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
/*---------------------------
| PANEL
---------------------------*/
.panel {
    border-radius: 0;
    box-shadow: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.panel-default > .panel-heading {
    padding: 10px 20px;
    color: #fff;
    border-color: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #5a707a;
}
.panel-default > .panel-heading2 {
    padding: 20px 20px;
    color: #fff;
    border-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #5a707a;
}
/*---------------------------
| FOOTER
---------------------------*/
.footer {
    position: relative;
    min-height: 150px;
    padding-top: 30px;
    background-color: #fff;
}
@media (min-width: 992px) {
    .footer img.italia {
        position: absolute;
        top: -200px;
    }
    .footer img:not(.italia) {
        position: absolute;
        top: -100px;
    }
}
/*---------------------------
| VEGAS BACKGROUND
---------------------------*/
.vegas-overlay {
    background-color: #000;
}
/*---------------------------
| GALLERIA
---------------------------*/
.galleria {
    width: 100%;
    height: 400px;
}

/*---------------------------
| FOOTER
---------------------------*/
.footer-menu {
    text-align: center;
    font-family: verdana,arial,helvetica;
    font-size: 12px;
    color: #333;
    text-decoration: none;
    font-weight: normal;
    line-height: 18px;
}
.footer-copy {
    color: #999;
    line-height: 18px;
}




/*---------------------------
| FORM TEST
---------------------------*/
.ui-autocomplete {
    position: fixed !important;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}
.ui-autocomplete >.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    cursor:pointer;
}


.ui-widget-content .ui-state-focus {
    color: #71c834;
    text-decoration: none;
    background-color: #d5d5d5;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}



.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*---------------------------
| THUMBNAILS
---------------------------*/
.thumbnail {
    position: relative;
    width: 200px;
    height: auto;
    overflow: hidden;
}
.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.test{
    border: 2px solid #ddd;
    padding-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.charspace{
    letter-spacing: 2px;
}
.blutext{
    color: mediumblue;fc
}

.error {
    float: none;
    clear: both;
    display: none;
    color: #CC0000;
    font-weight: normal;
    padding: 0;
    margin: 5px 0 0 0;
}
