{% include '../includes/head.html' %}

<body>
<div class="contents">
{% include '../includes/header.html' %}
{% include '../includes/messages.html' %}

{% block content %}

{% set action = '/articles/' + article._id %}
{% set imgAction = '/articles/' + article._id +'/img' %}

<div class="main-content">
<div class="container">

<div class="col-sm-8 col-md-12 margin-top-50">
<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">Modifica Annuncio</h3>
</div>
<div class="panel-body">

<form method="post" action="{{ action }}" enctype="multipart/form-data" role="form" class="form-horizontal">

<input type="hidden" name="_csrf" value="{{ csrf_token }}">

{% if not article.isNew %}
<input type="hidden" name="_method" value="PUT">
{% endif %}


<div class="row">
<div class="col-md-6">
<input type="hidden" name="type" value="1" id="type"/>
<input type="hidden" name="name" value="{{ article.name }}" id="name"/>
<input type="hidden" name="CodiceInfocarAM" value="{{ article.CodiceInfocarAM }}" id="CodiceInfocarAM"/>
<input type="hidden" name="fullName" value="{{ article.fullName }}" id="fullName"/>
<input type="hidden" name="prov" value="{{ article.prov }}" id="prov"/>
<input type="hidden" name="cityCode" value="{{ article.cityCode }}" id="cityCode"/>
<input type="hidden" name="lat" value="{{ article.lat }}" id="lat"/>
<input type="hidden" name="lon" value="{{ article.lon }}" id="lon"/>


<div class="form-group">
    <label for="year" class="col-sm-4 control-label">Anno</label>
    <div class="col-sm-6">
        <select name="year" value="{{ article.year }}" placeholder="Enter the year" class="form-control" id="year">Anno</option>
            <option value="2015">Seleziona Anno</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
            <option value="2005">2005</option>
            <option value="2004">2004</option>
            <option value="2003">2003</option>
            <option value="2002">2002</option>
            <option value="2001">2001</option>
            <option value="2000">2000</option>
            <option value="1999">1999</option>
            <option value="1998">1998</option>
            <option value="1997">1997</option>
            <option value="1996">1996</option>
            <option value="1995">1995</option>
            <option value="1994">1994</option>
            <option value="1993">1993</option>
            <option value="1992">1992</option>
            <option value="1991">1991</option>
            <option value="1990">1990</option>
            <option value="1989">1989</option>
            <option value="1988">1988</option>
            <option value="1987">1987</option>
            <option value="1986">1986</option>
            <option value="1985">1985</option>
            <option value="1980">1980</option>
            <option value="1975">1975</option>
            <option value="1970">1970</option>
            <option value="1965">1965</option>
            <option value="1960">1960</option>
            <option value="1955">1955</option>
            <option value="1950">1950</option>
            <option value="1940">1940</option>
            <option value="1930">1930</option>
            <option value="1920">1920</option>
            <option value="1910">1910</option>
        </select>
    </div>
</div>




<div class="form-group" id="step2">
    <label for="year" class="col-sm-4 control-label">Alimentazione</label>
    <div class="col-sm-6">


        <select id="fuel" name="fuel" value="{{ article.fuel }}" class="form-control" placeholder="Seleziona alimentazione">Alimentazione</option>
            <option value="0">Seleziona Alimentazione</option>
            <option value="0">Tutto</option>
            <option value="1">Benzina</option>
            <option value="2">Diesel</option>
            <option value="4">&#160;&#160;GPL</option>
            <option value="3">&#160;&#160;Metano</option>
            <option value="5">&#160;&#160;Ibrida</option>
            <option value="6">Etanolo</option>
            <option value="7">Elettrica</option>
        </select>
    </div>
</div>



<div class="form-group" id="step3">
    <label for="make" class="col-sm-4 control-label">Produttore</label>
    <div class="col-sm-6">
        <input type="text" name="make" value="{{ article.make }}" class="form-control" id="make" >
        </select>

    </div>
</div>





<!--TEMPORARY FOR TEST ONLY-->
<div class="form-group"  id="step20">
    <label for="model" class="col-sm-4 control-label">Modello</label>
    <div class="col-sm-6">
        <input type="text" name="model" value="{{ article.model }}" placeholder="Inserisci modello" class="form-control" id="model_temp">

    </div>
</div>
<!--END-->





<div id="step6">

    <div class="form-group">
        <label for="city" class="col-sm-4 control-label">Comune</label>
        <div class="col-sm-6">
            <input type="text" name="city" value="{{ article.city }}" placeholder="Comune" class="form-control" id="city" autocomplete="off" aria-required="true" >
        </div>
    </div>


    <div class="form-group">
        <label for="price" class="col-sm-4 control-label">Prezzo</label>
        <div class="col-sm-6">
            <input type="number" name="price" value="{{ article.price }}" placeholder="Prezzo" class="form-control" id="price"  autocomplete="off" aria-required="true" >
        </div>
    </div>

    <div class="form-group">
        <label for="km" class="col-sm-4 control-label">Kilometri</label>
        <div class="col-sm-6">
            <input type="number" name="km" value="{{ article.km }}" placeholder="KM" class="form-control" id="km" aria-required="true" >

        </div>
    </div>



    <div class="form-group">
        <label for="gearbox" class="col-sm-4 control-label">Cambio</label>
        <div class="col-sm-6">
            <select name="gearbox" value="{{ article.gearbox }}"  class="form-control" id="gearbox">
                <option value="">Seleziona cambio</option><option value="1">Manuale</option><option value="2">Automatico</option><option value="3">Sequenziale</option><option value="4">Altro</option>
            </select>

        </div>
    </div>



    <div class="form-group">
        <label for="pollution" class="col-sm-4 control-label">Classe emissioni</label>
        <div class="col-sm-6">
            <select name="pollution" value="{{ article.pollution }}"  class="form-control" id="pollution">
                <option value="">Seleziona la classe</option><option value="7">Euro 6</option><option value="6">Euro 5</option><option value="5">Euro 4</option><option value="4">Euro 3</option><option value="3">Euro 2</option><option value="2">Euro 1</option><option value="1">Pre-Euro</option>
            </select>

        </div>
    </div>





    <div class="form-group">
        <label for="doors" class="col-sm-4 control-label">Porte</label>
        <div class="col-sm-6">
            <select name="doors" value="{{ article.doors }}"  class="form-control" id="doors">
                <option value="">Seleziona il numero di porte</option><option value="1">2/3</option><option value="2">4/5</option><option value="3">6/7</option>
            </select>

        </div>
    </div>



    <div class="form-group">
        <label for="color" class="col-sm-4 control-label">Colore</label>
        <div class="col-sm-6">
            <select name="color" value="{{ article.color }}"  class="form-control" id="color">
                <option value="">Seleziona il colore</option><option value="1">Bianco</option><option value="2">Grigio</option><option value="3">Marrone</option><option value="4">Nero</option><option value="5">Rosso</option><option value="6">Giallo</option><option value="7">Verde</option><option value="8">Blu</option>
            </select>

        </div>
    </div>



    <div class="form-group">
        <label for="seats" class="col-sm-4 control-label">Posti</label>
        <div class="col-sm-6">
            <select name="seats" value="{{ article.seats }}"  class="form-control" id="seats">
                <option value="">Seleziona posti</option><option value="1">2</option><option value="2">3</option><option value="3">4</option><option value="4">5</option><option value="5">6</option><option value="6">7</option><option value="7">8</option><option value="8">Più di 8</option>
            </select>

        </div>
    </div>

</div>

</div>


<div  id="step7">



    <div class="col-md-5 test">
        <div class="row">
        {% if (article.image && article.image.files && article.image.files.length) %}
        {% if article.image.files.length > 1 %}
        {% for i in article.image.files %}
        <div class="col-sm-4">
        <img src="{{ article.image.cdnUri + '/' + article.id + '/thumb_' + i.originalname }}" id="{{ loop.index }}"   class="img-thumbnail img-responsive" data-big="{{ article.image.cdnUri + '/' + article.id + '/thumb_' + i.originalname }}">
            <form method="post" action="{{ imgAction }}">
                <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                <input type="submit" class="btn" aria-label="Elimina">
            </form>
        </div>
        {% endfor %}
        {% endif %}
        {% if article.image.files.length == 1 %}

        <img src="{{ article.image.cdnUri + '/' + article.id + '/thumb_' + article.image.files[0].originalname }}" alt="" data-big="{{ article.image.cdnUri + '/' + article.id + '/thumb_' + article.image.files[0].originalname }}">
        <form method="post" action="{{ imgAction }}" enctype="multipart/form-data" role="form">
            <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                <input type="submit" class="btn">Elimina</a>
            </form>
        {% endif %}
        {% else %}
        <img src="../../images/NoImagePlaceholder.png" alt="">
        {% endif %}
        </div>
        <div class="form-group">
            <label for="file" class="col-sm-2 control-label">Aggiungi immagini</label>
            <div class="col-sm-10">
                <input type="file" name="image" class="form-control" multiple id="file0">
            </div>
        </div>

        <label for="price" class="col-sm-4 left-addon caption margin-top-30">Immagine principale</label>
        <input type="file" id="file" name="image" style="visibility: hidden; width: 1px; height: 1px"  multer onchange="readURL(this);"/><a href="" onclick="document.getElementById('file').click(); return false"><img id="file_img" src="../../images/NoImagePlaceholder.png" class="thumbnail img img-responsive"></a>


        <div class="col-md-4">
            <input type="file" id="file2" name="image" style="visibility: hidden; width: 1px; height: 1px" onchange="readURL(this);"/><a href="" onclick="document.getElementById('file2').click(); return false"><img id="file2_img" src="../../images/placeholder_car_angle_back_M.png" class="thumbnail img img-responsive"></a>
            <input type="file" id="file3" name="image" style="visibility: hidden; width: 1px; height: 1px" onchange="readURL(this);" /><a href="" onclick="document.getElementById('file3').click(); return false"><img id="file3_img"src="../../images/placeholder_car_angle_front_M.png" class="thumbnail img img-responsive"></a>
        </div>
        <div class="col-md-4">
            <input type="file" id="file4" name="image" style="visibility: hidden; width: 1px; height: 1px" onchange="readURL(this);"/><a href="" onclick="document.getElementById('file4').click(); return false"><img id="file4_img"src="../../images/placeholder_car_back_M.png" class="thumbnail img img-responsive"></a>
            <input type="file" id="file5" name="image" style="visibility: hidden; width: 1px; height: 1px" onchange="readURL(this);" /><a href="" onclick="document.getElementById('file5').click(); return false"><img id="file5_img" src="../../images/placeholder_car_front_M.png" class="thumbnail img img-responsive"></a>
        </div>
        <div class="col-md-4">
            <input type="file" id="file6" name="image" style="visibility: hidden; width: 1px; height: 1px" onchange="readURL(this);" /><a href="" onclick="document.getElementById('file6').click(); return false"><img id="file6_img" src="../../images/placeholder_car_front_seats_M.png" class="thumbnail img img-responsive"></a>
            <input type="file" id="file7" name="image" style="visibility: hidden; width: 1px; height: 1px" onchange="readURL(this);"/><a href="" onclick="document.getElementById('file7').click(); return false"><img id="file7_img" src="../../images/placeholder_car_cockpit_M.png" class="thumbnail img img-responsive"></a>
        </div>
    </div>


</div>


<div class="col-md-12">
    <div class="form-group"  id="step9">
        <label for="description" class="col-sm-2 control-label">Descrizione</label>
        <div class="col-sm-10">
            <textarea rows="3" name="description" placeholder="Inserire una descrizione" id="description" cols="10" rows="10" class="form-control">{{ article.description }}</textarea>
        </div>
    </div>
</div>





<div class="col-md-12">

    <div class="form-group"  id="step10">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn-outline-green type="submit">Salva modifiche</button>
            &nbsp;
            <a href="/articles" class="btn btn-link">Cancella</a>
        </div>
    </div>
</div>

</form>

</div>

</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- Bootstrap JavaScript -->
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>


<script type="text/JavaScript">



    $("#year option[value='" + {{ article.year }} + "']").attr("selected", true);
    $("#gearbox option[value='" + {{ article.gearbox }} + "']").attr("selected", true);
    $("#fuel option[value='" + {{ article.fuel }} + "']").attr("selected", true);
    $("#seats option[value='" + {{ article.seats }} + "']").attr("selected", true);
    $("#color option[value='" + {{ article.color }} + "']").attr("selected", true);
    $("#doors option[value='" + {{ article.doors }} + "']").attr("selected", true);
    $("#pollution option[value='" + {{ article.pollution }} + "']").attr("selected", true);

    //ARIA FIELD VALIDATION


    if ($('#city').val() === '') {
        $('#city').attr("aria-invalid", "true");
        $("label[for='city']").addClass('invalid');
    }
    if ($('#price').val() === '' ) {
        $('#price').attr("aria-invalid", "true");
        $("label[for='price']").addClass('failed');
    }
    if ($('#email').val() === '') {
        $('#email').attr("aria-invalid", "true");
        $("label[for='email']").addClass('failed');
    }


    $("#price").change(function() {
        formatPrice();
    });
    $("#price").focusout(function() {
        console.log($("#price").val());
    });

    $("#year").change(function() {
        $("#step2").show();
    });

    $("#fuel").change(function() {
        //get a reference to the select element
        var $select = $('#make');
        //request the JSON data and parse into the select element
        $.ajax({
            url: '/data/marche.json',
            dataType: 'JSON',
            success: function (data) {
                //clear the current content of the select
                $("#step3").show();
                $select.html('');
                $select.append('<option value="0">Seleziona produttore</option>');
                //iterate over the data and append a select option
                $.each(data.Lista, function (key, val) {
                    $select.append('<option value="' + val.CodiceMarca + '">' + val.Descrizione + '</option>');
                })
            },
            error: function () {
                //if there is an error append a 'none available' option
                $select.html('<option id="-1">none available</option>');
            }
        });
    });
    $("#make").change(function() {
        $("#step6").show();
        $("#step9").show();
        $("#step10").show();
        $("#step20").show();
        $("#step21").show();
        $("#step22").show();
        $("#step23").show();
        $("#step24").show();
        $("#step25").show();
        $("#step26").show();
    });

    //    $("#make").change(function() {
    //        //get a reference to the select element
    //        $("#step4").show();
    //        var $select2 = $('#model');
    //        var model = $("#make option:selected").val();
    //        var fuel = $("#fuel option:selected").val();
    //        var year = $("#year option:selected").val();
    //        //request the JSON data and parse into the select element
    //        $.ajax({
    //            url: '/articles/test',
    //            dataType: 'JSON',
    //            data:{'marca' : model, 'fuel' : fuel, 'year' :year},
    //            success: function (data) {
    //                //clear the current content of the select
    //                $select2.html('');
    //
    //                if(data.Lista.length > 0){
    //                    $select2.append('<option value="0">Seleziona modello</option>');
    //                //iterate over the data and append a select option
    //                $.each(data.Lista, function (key, val) {
    //                    $select2.append('<option value="' + val.CodiceModello + '">' + val.Descrizione + '</option>');
    //                })
    //                }else{
    //                    $select2.html('<option value="-1">nessun modello</option>');
    //                }
    //            },
    //            error: function () {
    //                //if there is an error append a 'none available' option
    //                $select2.html('<option value="-1">none available</option>');
    //            }
    //        });
    //        })
    //
    //    $("#model").change(function() {
    //        //get a reference to the select element
    //        var $select3 = $('#allest');
    //        var model = $("#model option:selected").val();
    //        //request the JSON data and parse into the select element
    //        $('#name').val( $("#make option:selected").text() + " " + $("#model option:selected").text());
    //        console.log($("#make option:selected").text() + " " + $("#model option:selected").text());
    //        $.ajax({
    //            url: '/articles/allest',
    //            dataType: 'JSON',
    //            data:{'modello' : model},
    //            success: function (data) {
    //                //clear the current content of the select
    //                $select3.html('');
    //                $("#step5").show();
    //                if(data.Lista.length > 0){
    //                    $select3.append('<option value="0">Seleziona allestimento</option>');
    //                    //iterate over the data and append a select option
    //                    $.each(data.Lista, function (key, val) {
    //                        $select3.append('<option value="' + val.CodiceInfocarAM + '">' + val.Descrizione + ' - ' +val.Anno +'</option>');
    //                    })
    //                }else{
    //                    $select3.html('<option value="-1">nessun modello</option>');
    //                }
    //            },
    //            error: function () {
    //                //if there is an error append a 'none available' option
    //                $select3.html('<option value="-1">none available</option>');
    //            }
    //        });
    //    })
    //
    //    $("#allest").change(function() {
    //        //get a reference to the select element
    //
    //        var car = $("#allest option:selected").val();
    //        $('#CodiceInfocarAM').val(car);
    //        $('#fullName').val($("#allest option:selected").text());
    //        //request the JSON data and parse into the select element
    //        $.ajax({
    //            url: '/articles/modelData',
    //            dataType: 'JSON',
    //            data:{'car' : car},
    //            success: function (data) {
    //                //clear the current content of the select
    //                $("#step6").show();
    //                $("#step7").show();
    //                $("#step8").show();
    //                $("#step9").show();
    //                $("#step10").show();
    //                if(data.Lista.length > 0){
    //
    //
    //                    var $template = $('.template');
    //
    //                    $.each(data.Lista, function() {
    //                        var $element = $template.clone().removeClass('template').appendTo('#data');
    //                        $element.attr('id', this.CodiceGlossario);
    //                        if (this.Stato == 'S'){
    //                            $element.html(this.DescrizioneNorm);
    //                        }
    //                    });
    //                }else{
    //
    //                }
    //            },
    //            error: function () {
    //                //if there is an error append a 'none available' option
    //
    //            }
    //        });
    //    })
</script>

<script type="text/javascript">
    $('#buttonfile').click(function(){ $('#file').trigger('click'); });
    $('#buttonfile2').click(function(){ $('#file2').trigger('click'); });
    $('#buttonfile3').click(function(){ $('#file3').trigger('click'); });
    $('#buttonfile4').click(function(){ $('#file4').trigger('click'); });
    $('#buttonfile5').click(function(){ $('#file5').trigger('click'); });
    $('#buttonfile6').click(function(){ $('#file6').trigger('click'); });
    $('#buttonfile7').click(function(){ $('#file7').trigger('click'); });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var $div = '#'+input.id + '_img';
            reader.onload = function (e) {
                $($div)
                        .attr('src', e.target.result)
                        .class="thumbnail img img-responsive";
            };

            reader.readAsDataURL(input.files[0]);
        }
    };


    $(function() {
        var availableCity = [];

        $.ajax({
            url: '/data/comuni.json',
            dataType: 'JSON',
            success: function (data) {
                $.each(data, function (key, val) {
                    //$select.append('<option value="' + val.CodiceMarca + '">' + val.Descrizione + '</option>');
                    var obj = {
                        key: val.codice_comu_istat ,
                        province: val.codice_prov_istat ,
                        lat:val.lat,
                        lon:val.lng,
                        label:val.name
                    }
                    availableCity.push(obj);
                });
            },
            error: function () {
                //if there is an error append a 'none available' option

            }
        });


        $( "#city" ).autocomplete({
            source: availableCity,
            minLength: 2,
            messages: {
                noResults: '',
                results: function() {}
            },
            select: function(event, ui) {
                $('#lat').val(ui.item.lat);
                $('#lon').val(ui.item.lon);
                $('#prov').val(ui.item.province);
                $('#cityCode').val(ui.item.key);
                $('#city').val(ui.item.label);
            },
            change: function (event, ui) {
                if (!ui.item) {
                    //http://api.jqueryui.com/autocomplete/#event-change -
                    // The item selected from the menu, if any. Otherwise the property is null
                    //so clear the item for force selection
                    $("#city").val("");
                }
            }
        });

    });

</script>

</div>

{% include '../includes/footer.html' %}
</body>
</html>
