{% include '../includes/head.html' %}

<body>
<div class="contents">
{% include '../includes/header.html' %}
{% block content %}
<div class="main-content">
    <div class="container">
        <div class="row equal-height">
            <div class="col-sm-4 col-md-3 margin-top-50 equal-height">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ricerca avanzata</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" action="/articles/search" method="get">
                        <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                            <div class="form-group">
                                <label class="col-xs-12">
                                    Prezzo (€)
                                </label>
                                <div class="col-xs-6">
                                    <select name="price1" class="form-control input-sm">
                                        <option value="" selected="selected">Prezzo min</option>
                                        <option value="500">500</option>

                                        <option value="1000">1.000</option>

                                        <option value="2000">2.000</option>

                                        <option value="3000">3.000</option>

                                        <option value="4000">4.000</option>

                                        <option value="5000">5.000</option>

                                        <option value="6000">6.000</option>

                                        <option value="7000">7.000</option>

                                        <option value="8000">8.000</option>

                                        <option value="9000">9.000</option>

                                        <option value="10000">10.000</option>

                                        <option value="11000">11.000</option>

                                        <option value="12000">12.000</option>

                                        <option value="13000">13.000</option>

                                        <option value="14000">14.000</option>

                                        <option value="15000">15.000</option>

                                        <option value="16000">16.000</option>

                                        <option value="17000">17.000</option>

                                        <option value="18000">18.000</option>

                                        <option value="19000">19.000</option>

                                        <option value="20000">20.000</option>

                                        <option value="21000">21.000</option>

                                        <option value="22000">22.000</option>

                                        <option value="23000">23.000</option>

                                        <option value="24000">24.000</option>

                                        <option value="25000">25.000</option>

                                        <option value="26000">26.000</option>

                                        <option value="27000">27.000</option>

                                        <option value="28000">28.000</option>

                                        <option value="29000">29.000</option>

                                        <option value="30000">30.000</option>

                                        <option value="35000">35.000</option>

                                        <option value="40000">40.000</option>

                                        <option value="45000">45.000</option>

                                        <option value="50000">50.000</option>

                                        <option value="60000">60.000</option>

                                        <option value="70000">70.000</option>

                                        <option value="80000">80.000</option>

                                        <option value="90000">90.000</option>

                                        <option value="120000">120.000</option>

                                        <option value="150000">150.000</option>

                                        <option value="250000">250.000</option>
                                    </select>

                                </div>
                                <div class="col-xs-6">
                                    <select name="price2" class="form-control input-sm">
                                        <option value="" selected="selected">Prezzo max</option>

                                        <option value="500">500</option>

                                        <option value="1000">1.000</option>

                                        <option value="2000">2.000</option>

                                        <option value="3000">3.000</option>

                                        <option value="4000">4.000</option>

                                        <option value="5000">5.000</option>

                                        <option value="6000">6.000</option>

                                        <option value="7000">7.000</option>

                                        <option value="8000">8.000</option>

                                        <option value="9000">9.000</option>

                                        <option value="10000">10.000</option>

                                        <option value="11000">11.000</option>

                                        <option value="12000">12.000</option>

                                        <option value="13000">13.000</option>

                                        <option value="14000">14.000</option>

                                        <option value="15000">15.000</option>

                                        <option value="16000">16.000</option>

                                        <option value="17000">17.000</option>

                                        <option value="18000">18.000</option>

                                        <option value="19000">19.000</option>

                                        <option value="20000">20.000</option>

                                        <option value="21000">21.000</option>

                                        <option value="22000">22.000</option>

                                        <option value="23000">23.000</option>

                                        <option value="24000">24.000</option>

                                        <option value="25000">25.000</option>

                                        <option value="26000">26.000</option>

                                        <option value="27000">27.000</option>

                                        <option value="28000">28.000</option>

                                        <option value="29000">29.000</option>

                                        <option value="30000">30.000</option>

                                        <option value="35000">35.000</option>

                                        <option value="40000">40.000</option>

                                        <option value="45000">45.000</option>

                                        <option value="50000">50.000</option>

                                        <option value="60000">60.000</option>

                                        <option value="70000">70.000</option>

                                        <option value="80000">80.000</option>

                                        <option value="90000">90.000</option>

                                        <option value="120000">120.000</option>

                                        <option value="150000">150.000</option>

                                        <option value="250000">250.000</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12">
                                    Km
                                </label>
                                <div class="col-xs-6">
                                    <select name="Km1" class="form-control input-sm">

                                            <option value= "" selected="selected">Km min</option>

                                            <option value="0">Km 0</option>



                                            <option value="5000">5.000 </option>

                                            <option value="10000">10.000 </option>

                                            <option value="15000">15.000 </option>

                                            <option value="20000">20.000 </option>

                                            <option value="25000">25.000 </option>

                                            <option value="30000">30.000 </option>

                                            <option value="35000">35.000 </option>

                                            <option value="40000">40.000 </option>

                                            <option value="45000">45.000 </option>

                                            <option value="50000">50.000 </option>

                                            <option value="55000">55.000 </option>

                                            <option value="60000">60.000 </option>

                                            <option value="65000">65.000 </option>

                                            <option value="70000">70.000 </option>

                                            <option value="75000">75.000 </option>

                                            <option value="80000">80.000 </option>

                                            <option value="85000">85.000 </option>

                                            <option value="90000">90.000 </option>

                                            <option value="95000">95.000 </option>

                                            <option value="100000">100.000 </option>

                                            <option value="110000">110.000 </option>

                                            <option value="120000">120.000 </option>

                                            <option value="130000">130.000 </option>

                                            <option value="140000">140.000 </option>

                                            <option value="150000">150.000 </option>

                                            <option value="160000">160.000 </option>

                                            <option value="170000">170.000 </option>

                                            <option value="180000">180.000 </option>

                                            <option value="190000">190.000 </option>

                                            <option value="200000">200.000 </option>

                                            <option value="250000">250.000 </option>

                                            <option value="300000">300.000 </option>

                                            <option value="350000">350.000 </option>

                                            <option value="400000">400.000 </option>

                                            <option value="450000">450.000 </option>
                                            <option value="500000">500.000</option>

                                        </select>
                                </div>
                                <div class="col-xs-6">
                                    <select name="Km2" class="form-control input-sm">

                                            <option value="" selected="selected">Km max</option>

                                        <option value="0">Km 0</option>



                                        <option value="5000">5.000 </option>

                                        <option value="10000">10.000 </option>

                                        <option value="15000">15.000 </option>

                                        <option value="20000">20.000 </option>

                                        <option value="25000">25.000 </option>

                                        <option value="30000">30.000 </option>

                                        <option value="35000">35.000 </option>

                                        <option value="40000">40.000 </option>

                                        <option value="45000">45.000 </option>

                                        <option value="50000">50.000 </option>

                                        <option value="55000">55.000 </option>

                                        <option value="60000">60.000 </option>

                                        <option value="65000">65.000 </option>

                                        <option value="70000">70.000 </option>

                                        <option value="75000">75.000 </option>

                                        <option value="80000">80.000 </option>

                                        <option value="85000">85.000 </option>

                                        <option value="90000">90.000 </option>

                                        <option value="95000">95.000 </option>

                                        <option value="100000">100.000 </option>

                                        <option value="110000">110.000 </option>

                                        <option value="120000">120.000 </option>

                                        <option value="130000">130.000 </option>

                                        <option value="140000">140.000 </option>

                                        <option value="150000">150.000 </option>

                                        <option value="160000">160.000 </option>

                                        <option value="170000">170.000 </option>

                                        <option value="180000">180.000 </option>

                                        <option value="190000">190.000 </option>

                                        <option value="200000">200.000 </option>

                                        <option value="250000">250.000 </option>

                                        <option value="300000">300.000 </option>

                                        <option value="350000">350.000 </option>

                                        <option value="400000">400.000 </option>

                                        <option value="450000">450.000 </option>
                                        <option value="500000">500.000</option>
                                        </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12">
                                    Anno
                                </label>
                                <div class="col-xs-6">
                                    <select name="year1" class="form-control input-sm">
                                        <option value="">da...</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2012">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                        <option value="1996">1996</option>
                                        <option value="1995">1995</option>
                                        <option value="1994">1994</option>
                                        <option value="1993">1993</option>
                                        <option value="1992">1992</option>
                                        <option value="1991">1991</option>
                                        <option value="1990">1990</option>
                                        <option value="1989">1989</option>
                                        <option value="1988">1988</option>
                                        <option value="1987">1987</option>
                                        <option value="1986">1986</option>
                                        <option value="1985">1985</option>
                                        <option value="1980">1980</option>
                                        <option value="1975">1975</option>
                                        <option value="1970">1970</option>
                                        <option value="1965">1965</option>
                                        <option value="1960">1960</option>
                                        <option value="1955">1955</option>
                                        <option value="1950">1950</option>
                                        <option value="1940">1940</option>
                                        <option value="1930">1930</option>
                                        <option value="1920">1920</option>
                                        <option value="1910">1910</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select name="year2" class="form-control input-sm">
                                        <option value="">a...</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2012">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                        <option value="1996">1996</option>
                                        <option value="1995">1995</option>
                                        <option value="1994">1994</option>
                                        <option value="1993">1993</option>
                                        <option value="1992">1992</option>
                                        <option value="1991">1991</option>
                                        <option value="1990">1990</option>
                                        <option value="1989">1989</option>
                                        <option value="1988">1988</option>
                                        <option value="1987">1987</option>
                                        <option value="1986">1986</option>
                                        <option value="1985">1985</option>
                                        <option value="1980">1980</option>
                                        <option value="1975">1975</option>
                                        <option value="1970">1970</option>
                                        <option value="1965">1965</option>
                                        <option value="1960">1960</option>
                                        <option value="1955">1955</option>
                                        <option value="1950">1950</option>
                                        <option value="1940">1940</option>
                                        <option value="1930">1930</option>
                                        <option value="1920">1920</option>
                                        <option value="1910">1910</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12">
                                    Marca
                                </label>
                                <div class="col-xs-12">
                                    <select name="marca" class="form-control input-sm">
                                        <option value="" >TUTTE</option>
                                        <option value="161" >AUDI</option>
                                        <option value="85" >BMW</option>
                                        <option value="84" >CHEVROLET</option>
                                        <option value="91" >CITROEN</option>
                                        <option value="8" >FIAT</option>
                                        <option value="39" >FORD</option>
                                        <option value="147" >HONDA</option>
                                        <option value="34" >LANCIA</option>
                                        <option value="33" >MERCEDES</option>
                                        <option value="222" >MINI</option>
                                        <option value="149" >NISSAN</option>
                                        <option value="20" >OPEL</option>
                                        <option value="151" >PEUGEOT</option>
                                        <option value="62" >RENAULT</option>
                                        <option value="53" >SEAT</option>
                                        <option value="94" >SKODA</option>
                                        <option value="103" >TOYOTA</option>
                                        <option value="101" >VOLKSWAGEN</option>
                                        <option value="98" >VOLVO</option>

                                        <option value="" style='background-color:#ddd' disabled="disabled">Altre marche</option>
                                        <option value="2409" >ABARTH</option>
                                        <option value="416" >AIXAM</option>
                                        <option value="83" >ALFA ROMEO</option>
                                        <option value="700" >AMG</option>
                                        <option value="74" >ASTON MARTIN</option>
                                        <option value="161" >AUDI</option>
                                        <option value="80" >AUSTIN ROVER</option>
                                        <option value="35" >AUTOBIANCHI</option>
                                        <option value="70" >BENTLEY</option>
                                        <option value="49" >BERTONE</option>
                                        <option value="85" >BMW</option>
                                        <option value="1522" >BUGATTI</option>
                                        <option value="81" >BUICK</option>
                                        <option value="76" >CADILLAC</option>
                                        <option value="84" >CHEVROLET</option>
                                        <option value="87" >CHRYSLER</option>
                                        <option value="91" >CITROEN</option>
                                        <option value="1859" >CITYCAR</option>
                                        <option value="2309" >CMC (CARLETTI)</option>
                                        <option value="2405" >CORVETTE</option>
                                        <option value="18" >DACIA</option>
                                        <option value="577" >DAEWOO</option>
                                        <option value="104" >DAIHATSU</option>
                                        <option value="106" >DAIMLER</option>
                                        <option value="114" >DE TOMASO</option>
                                        <option value="267" >DODGE</option>
                                        <option value="13" >FERRARI</option>
                                        <option value="8" >FIAT</option>
                                        <option value="39" >FORD</option>
                                        <option value="147" >HONDA</option>
                                        <option value="2398" >HUMMER</option>
                                        <option value="122" >HYUNDAI</option>
                                        <option value="1970" >INFINITI</option>
                                        <option value="120" >INNOCENTI</option>
                                        <option value="2285" >ISO</option>
                                        <option value="146" >ISUZU</option>
                                        <option value="2709" >ITALCAR</option>
                                        <option value="2318" >IVECO</option>
                                        <option value="110" >JAGUAR</option>
                                        <option value="144" >JEEP</option>
                                        <option value="746" >KIA</option>
                                        <option value="433" >LADA</option>
                                        <option value="135" >LAMBORGHINI</option>
                                        <option value="34" >LANCIA</option>
                                        <option value="140" >LAND ROVER</option>
                                        <option value="1962" >LEXUS</option>
                                        <option value="254" >LIGIER</option>
                                        <option value="134" >LOTUS</option>
                                        <option value="117" >MASERATI</option>
                                        <option value="145" >MAZDA</option>
                                        <option value="2754" >MCLAREN</option>
                                        <option value="33" >MERCEDES</option>
                                        <option value="2713" >META</option>
                                        <option value="1945" >MG</option>
                                        <option value="2767" >MIA ELECTRIC</option>
                                        <option value="926" >MICRO VETT</option>
                                        <option value="766" >MICROCAR</option>
                                        <option value="2222" >MINI</option>
                                        <option value="148" >MITSUBISHI</option>
                                        <option value="136" >MORGAN</option>
                                        <option value="2766" >MUSTANG</option>
                                        <option value="149" >NISSAN</option>
                                        <option value="20" >OPEL</option>
                                        <option value="151" >PEUGEOT</option>
                                        <option value="941" >PIAGGIO</option>
                                        <option value="137" >PONTIAC</option>
                                        <option value="27" >PORSCHE</option>
                                        <option value="240" >PUMA ITALIA</option>
                                        <option value="62" >RENAULT</option>
                                        <option value="86" >ROLLS ROYCE</option>
                                        <option value="154" >ROVER</option>
                                        <option value="153" >SAAB</option>
                                        <option value="255" >SANTANA</option>
                                        <option value="53" >SEAT</option>
                                        <option value="2719" >SHUANGHUAN</option>
                                        <option value="94" >SKODA</option>
                                        <option value="2259" >SMART</option>
                                        <option value="979" >SSANGYONG</option>
                                        <option value="155" >SUBARU</option>
                                        <option value="156" >SUZUKI</option>
                                        <option value="2130" >TATA</option>
                                        <option value="2749" >TESLA</option>
                                        <option value="1036" >TORPEDO</option>
                                        <option value="103" >TOYOTA</option>
                                        <option value="224" >UAZ</option>
                                        <option value="222" >UMM</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12">
                                    Modello
                                </label>
                                <div class="col-xs-12">
                                    <select name="model" class="form-control input-sm">
                                        <option selected="selected" value="0">Tutti</option>
                                    </select>
                                </div>
                            </div>

                        <div class="form-group">
                            <label class="col-xs-12">
                                Carburante
                            </label>
                            <div class="col-xs-12">
                                <select name="fuel" class="form-control input-sm" id="fuel">
                                    <option selected="selected" value="0">Tutto</option>
                                    <option value="1">Benzina</option>
                                    <option value="2">Diesel</option>
                                    <option value="4">&#160;&#160;GPL</option>
                                    <option value="3">&#160;&#160;Metano</option>
                                    <option value="5">&#160;&#160;Elettrica/Benzina</option>
                                    <option value="5">&#160;&#160;Elettrica/Diesel</option>
                                    <option value="6">Etanolo</option>
                                    <option value="7">Elettrica</option>
                                </select>
                            </div>
                        </div>

<!--                        <div class="form-group">
                            <label class="col-xs-12">
                                Regione
                            </label>
                            <div class="col-xs-12">
                                <select name="region" class="form-control input-sm" id="region"></select>
                            </div>
                        </div>-->

                        <div class="form-group">
                            <label class="col-xs-12">
                                Provincia
                            </label>
                            <div class="col-xs-12">
                                <select name="prov" class="form-control input-sm" id="prov"></select>
                            </div>
                        </div>

                            <div class="checkbox">
                                <input type="checkbox" name="photo" id="photo">
                                <label for="photo">Solo annunci con foto</label>
                            </div>
                            <div class="margin-top-25">
                                <button type="submit" class="btn btn-outline-green center-block">Visualizza risultati</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
<!--<a href="/articles/new">Insert new</a>-->


            <div class="col-sm-8 col-md-9 margin-top-50 equal-height">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if articles.length > 0  %}
                        <h3 class="panel-title">{{ count }} Annunci trovati</h3>
                        {% else %}
                        <h3 class="panel-title">Risultati della tua ricerca</h3>
                        {% endif %}
                    </div>

                        {% if (articles.length) %}
                            {% for article in articles %}
                                {% include 'article.html' %}
                        {% endfor %}
                    <div class="panel-body">
                        <div class="pager-nav text-center">
                            {% if (pages > 0) %}
                            <ul class="pagination">
                                {% autoescape false %}
                                {{ createPagination(pages, page) }}
                                {% endautoescape %}
                            </ul>
                            {% endif %}
                            {% else %}
                            <h4 class="muted">
                                No articles.&nbsp;
                                <a href="/articles/new">create one</a>
                            </h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</div>
{% include '../includes/footer.html' %}


</body>

<script type="text/JavaScript">
    $(document).ready(function(){


        //get a reference to the select element
        var $select = $('#region');
        //request the JSON data and parse into the select element

        $.ajax({
            url: '/data/regioni.json',
            dataType: 'JSON',
            success: function (data) {
                //clear the current content of the select
                $select.html('');
                $select.append('<option value="0">Seleziona Regione</option>');
                //iterate over the data and append a select option
                $.each(data, function (key, val) {
                    $select.append('<option value="' + val.codice_reg_istat + '">' + val.name + '</option>');
                })
            },
            error: function () {
                //if there is an error append a 'none available' option
                $select.html('<option id="-1">none available</option>');
            }
        });
//    });
//
//    $('#region').change(function(){
    //get a reference to the select element
        var $select = $('#prov');
        //request the JSON data and parse into the select element

        $.ajax({
            url: '/data/province.json',
            dataType: 'JSON',
            success: function (data) {
                //clear the current content of the select
                $select.html('');
                $select.append('<option value="0">Seleziona Provincia</option>');
                //iterate over the data and append a select option
                $.each(data, function (key, val) {
                    $select.append('<option value="' + val.codice_prov_istat + '">' + val.name + '</option>');
                })
            },
            error: function () {
                //if there is an error append a 'none available' option
                $select.html('<option id="-1">none available</option>');
            }
        });
    });
</script>
{% include '../includes/foot.html' %}
</html>
