{% include '../includes/head.html' %}

<body>
<div class="contents">
{% include '../includes/header.html' %}
{% include '../includes/messages.html' %}
{% block content %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 margin-top-50">
                <div class="panel panel-default">
                    <div class="panel-heading2">
                        <h3 class="panel-title">{{ article.name }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="galleria">
                                    {% if (!article.isNew && article.image && article.image.files && article.image.files.length) %}
                                    {% if article.image.files.length > 1 %}
                                    {% for i in article.image.files %}
                                    <img src="{{ article.image.cdnUri + '/' + article.id + '/gallery_' + i.originalname }}" alt="" data-big="{{ article.image.cdnUri + '/' + article.id + '/large_' + i.originalname }}">
                                    {% endfor %}
                                    {% endif %}
                                    {% if article.image.files.length == 1 %}

                                    <img src="{{ article.image.cdnUri + '/' + article.id + '/thumb_' + article.image.files[0].originalname }}" alt="" data-big="{{ article.image.cdnUri + '/' + article.id + '/large_' + article.image.files[0].originalname }}">

                                    {% endif %}
                                    {% else %}
                                    <img src="../../images/NoImagePlaceholder.png" alt="">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-5 margin-top-30">
                                <p><button class="btn btn-lg btn-green center-block text-bold font-size-20" type="button">      €  {{ article.price}}        </button></p>
                                <div class="margin-top-30">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-gray">Km</td>
                                            <td class="text-right  text-black">{{ article.km }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Anno</td>
                                            <td class="text-right  text-black">{{ article.year }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Carburante</td>
                                            <td class="text-right  text-black">     {% if article.fuel == '1' %}Benzina
                                                {% elseif article.fuel == '2' %}Diesel
                                                {% elseif article.fuel == '4' %}GPL
                                                {% elseif article.fuel == '3' %}Metano
                                                {% elseif article.fuel == '5' %}Ibrida
                                                {% elseif article.fuel == '7' %}Elettrica
                                                {% elseif article.fuel == '6' %}Etanolo

                                                {% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Cambio</td>
                                            <td class="text-right  text-black">{{ article.gearbox }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ul class="list-inline share">
                                    <li><a href="#"><span class="fa fa-facebook-square fa-facebook-official"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter-square"></span></a></li>
                                    <li>Condividi</li>
                                </ul>
                                <p class="margin-top-10">
                                    <a href="#"><span class="glyphicon glyphicon-print"></span> Stampa</a><br/>
                                    <a href="#"><span class="fa fa-users"></span> Consiglia ad un amico</a>
                                </p>
                                <p class="margin-top-30"><button class="btn center-block btn-outline-green" type="button">Contatta concessionario</button></p>
                            </div>
                        </div>


                        <div class="border-top-bottom margin-top-20">
                            <div class="row">
                                <div class="col-sm-5 text-center">
                                    <h2>Logo concessionario</h2>
                                </div>
                                <div class="col-sm-7 text-center">
                                    <p class="margin-top-30">Dati concessionario</p>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-5">
                                <div class="margin-top-10">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-gray">Prezzo</td>
                                            <td class="text-right">{{ article.price }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Anno</td>
                                            <td class="text-right">{{ article.year }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Km</td>
                                            <td class="text-right">{{ article.km }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Colore</td>
                                            <td class="text-right">    {% if article.color == '1' %}Bianco
                                                {% elseif article.color == '2' %}Grigio
                                                {% elseif article.color == '3' %}Marrone
                                                {% elseif article.color == '4' %}Nero
                                                {% elseif article.color == '5' %}Rosso
                                                {% elseif article.color == '6' %}Giallo
                                                {% elseif article.color == '7' %}Verde
                                                {% elseif article.color == '8' %}Blu

                                                {% endif %}

                                                </td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Cambio</td>
                                            <td class="text-right">{{ article.Cambio }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="margin-top-10">
                                    <a class="text-underline" href="#">{{ article.fullName }}</a>
                                    <p>{{ article.description }}</p>
                                </div>
                            </div>
                        </div>


                        <div class="border-top-bottom margin-top-20">
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <h3>Scheda tecnica</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="margin-top-10">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-gray">Cavalli fiscali</td>
                                            <td class="text-right">{{ article.PotenzaFiscale }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Normativa</td>
                                            <td class="text-right">{{ article.Normativa}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Catalizzata</td>
                                            <td class="text-right">{{ article.Catalizzata }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Catalizzatore</td>
                                            <td class="text-right">{{ article.TipoCatalizzatore}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Carrozzeria</td>
                                            <td class="text-right">{{ article.Carrozzeria}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Litri serbatoio</td>
                                            <td class="text-right">{{ article.CapacitaSerbatoioL}} </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="margin-top-10">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-gray">Posti</td>
                                            <td class="text-right">{{ article.NumeroPosti }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Porte</td>
                                            <td class="text-right">{{ article.NumeroPorte }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Larghezza</td>
                                            <td class="text-right">{{ article.LarghezzaMetri }} m</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Lungezza</td>
                                            <td class="text-right">{{ article.LunghezzaMetri }} m</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Consumo extraurbano</td>
                                            <td class="text-right">{{ article.Consumo1 }} l/100 km</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Consumo urbano</td>
                                            <td class="text-right">{{ article.Consumo2 }} l/100 km</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Consumo misto</td>
                                            <td class="text-right">{{ article.Consumo3 }} l/100 km</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="margin-top-10">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-gray">Cilindrata</td>
                                            <td class="text-right">{{ article.Cilindrata }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Numero Cilindri</td>
                                            <td class="text-right">{{ article.NumeroCilindri }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Valvole per cilindro</td>
                                            <td class="text-right">{{ article.ValvolePerCilindro }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Numero marce</td>
                                            <td class="text-right">{{ article.NumeroMarce }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Potenza CV</td>
                                            <td class="text-right">{{ article.PotenzaCV }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Potenza KW</td>
                                            <td class="text-right">{{ article.PotenzaKW }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-gray">Trazione</td>
                                            <td class="text-right">{{ article.Trazione }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5 margin-top-5">
                                <ul class="list-inline text-center">
                                    <li><a href="#"><span class="glyphicon glyphicon-print"></span> Stampa</a></li>
                                    <li><a href="#"><span class="fa fa-users"></span> Consiglia ad un amico</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list-inline share">
                                    <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter-square"></span></a></li>
                                    <li>Condividi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
</div>
{% include '../includes/footer.html' %}
    <footer class="footer"></footer>
    <!-- jQuery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/galleria-1.4.2.min.js"></script>
    <script>
        Galleria.loadTheme('../js/themes/classic/galleria.classic.min.js');
        Galleria.run('.galleria',{
            clicknext: false,
            lightbox: true
        });

        function formatPrice(item) {
            //var e = $("#price");
            if (item.length === 0) {
                return
            }
            item.val(number_clean(item.val()));
            item.val(item.val().replace(/\B(?=(\d{3})+(?!\d))/g, "."))
            console.log("Prezzo: " + item);
        }

        function currencyFormatIT (num) {
            return num
                    .toFixed(2) // always two decimal digits
                    .replace(".", ",") // replace decimal point character with ,
                    .replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") + " €" // use . as a separator
        }

        $(document).ready(function() {


        });
    </script>

</body>

</html>
