#galleria-loader {
    height: 1px!important;
}

.galleria-theme-classic {
    position: relative;
    overflow: hidden;
    background: #fff;
}
.galleria-theme-classic img {
    -webkit-user-select: none;
       -moz-user-select: none;

         -o-user-select: none;
}
.galleria-theme-classic .galleria-stage {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 60px;
    left: 10px;
    overflow: hidden;
}
.galleria-theme-classic .galleria-thumbnails-container {
    position: absolute;
    z-index: 2;
    right: 10px;
    bottom: 0;
    left: 10px;
    height: 50px;
    border: 2px solid #5a707a;
    border-radius: 10px;
}
.galleria-theme-classic .galleria-carousel .galleria-thumbnails-list {
    margin-right: 30px;
    margin-left: 30px;
}
.galleria-theme-classic .galleria-thumbnails .galleria-image {
    float: left;
    width: 60px;
    height: 42px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
    background: #000;
}
.galleria-theme-classic .galleria-counter {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 10px;
    text-align: right;
    color: #5a707a;
}
.galleria-theme-classic .galleria-loader {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    display: none;
    width: 20px;
    height: 20px;
    background: #000;
    background: url(classic-loader.gif) no-repeat 2px 2px;
}
.galleria-theme-classic .galleria-info {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    width: 50%;
}
.galleria-theme-classic .galleria-info-text {
    display: none;
    /* IE7 */ zoom: 1;
    padding: 12px;
    background-color: #000;
}
.galleria-theme-classic .galleria-info-title {
    font: bold 12px/1.1 arial,sans-serif;
    margin: 0;
    margin-bottom: 7px;
    color: #fff;
}
.galleria-theme-classic .galleria-info-description {
    font: italic 12px/1.4 georgia,serif;
    margin: 0;
    color: #bbb;
}
.galleria-theme-classic .galleria-info-close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    width: 9px;
    height: 9px;
    cursor: pointer;
    opacity: .5;
    background-position: -753px -11px;

    filter: alpha(opacity=50);
}
.galleria-theme-classic .notouch .galleria-info-close:hover {
    opacity: 1;

    filter: alpha(opacity=100);
}
.galleria-theme-classic .touch .galleria-info-close:active {
    opacity: 1;

    filter: alpha(opacity=100);
}
.galleria-theme-classic .galleria-info-link {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: .7;
    background-color: #000;
    background-position: -669px -5px;

    filter: alpha(opacity=70);
}
.galleria-theme-classic.notouch .galleria-info-link:hover {
    opacity: 1;

    filter: alpha(opacity=100);
}
.galleria-theme-classic.touch .galleria-info-link:active {
    opacity: 1;

    filter: alpha(opacity=100);
}
.galleria-theme-classic .galleria-image-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 62px;
    margin-top: -62px;
}
.galleria-theme-classic .galleria-image-nav-left,
.galleria-theme-classic .galleria-image-nav-right {
    position: absolute;
    z-index: 2;
    left: 10px;
    width: 62px;
    height: 124px;
    cursor: pointer;
    opacity: .3;
    background-position: 0 46px;

    filter: alpha(opacity=30);
}
.galleria-theme-classic .galleria-image-nav-right {
    z-index: 2;
    right: 10px;
    left: auto;
    background-position: -254px 46px;
}
.galleria-theme-classic.notouch .galleria-image-nav-left:hover,
.galleria-theme-classic.notouch .galleria-image-nav-right:hover {
    opacity: 1;

    filter: alpha(opacity=100);
}
.galleria-theme-classic.touch .galleria-image-nav-left:active,
.galleria-theme-classic.touch .galleria-image-nav-right:active {
    opacity: 1;

    filter: alpha(opacity=100);
}
.galleria-theme-classic .galleria-thumb-nav-left {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    display: none;
    width: 23px;
    height: 42px;
    cursor: pointer;
    color: #5a707a;
}
.galleria-theme-classic .galleria-thumb-nav-right {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    left: auto;
    display: none;
    width: 23px;
    height: 42px;
    cursor: pointer;
    color: #5a707a;
}
.galleria-theme-classic .galleria-thumb-nav-left::before {
    font-family: 'Glyphicons Halflings';
    font-size: 20px;
    line-height: 42px;
    content: '\e079';
}
.galleria-theme-classic .galleria-thumb-nav-right::after {
    font-family: 'Glyphicons Halflings';
    font-size: 20px;
    line-height: 42px;
    content: '\e080';
}
.galleria-theme-classic .galleria-thumbnails-container .disabled {
    cursor: default;
    color: #5a707a;
}
.galleria-theme-classic.notouch .galleria-thumb-nav-left:hover,
.galleria-theme-classic.notouch .galleria-thumb-nav-right:hover {
    color: #5a707a;
}
.galleria-theme-classic.touch .galleria-thumb-nav-left:active,
.galleria-theme-classic.touch .galleria-thumb-nav-right:active {
    color: #5a707a;
}
.galleria-theme-classic.notouch .galleria-thumbnails-container .disabled:hover {
    color: #5a707a;
}

.galleria-theme-classic .galleria-carousel .galleria-thumb-nav-left,
.galleria-theme-classic .galleria-carousel .galleria-thumb-nav-right {
    display: block;
}
.galleria-theme-classic .galleria-info-link,
.galleria-theme-classic .galleria-info-close,
.galleria-theme-classic .galleria-image-nav-left,
.galleria-theme-classic .galleria-image-nav-right {
    background-image: url(classic-map.png);
    background-repeat: no-repeat;
}
.galleria-theme-classic.galleria-container.videoplay .galleria-info,
.galleria-theme-classic.galleria-container.videoplay .galleria-counter {
    display: none!important;
}
