{% extends 'auth.html' %}

{% block auth %}
<form action="/users/forgotMail" method="post" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 margin-bottom-15 margin-top-15">
            <br>
            Inserisci qui il tuo indirizzo e-mail con cui ti sei registrato e riceverai entro pochi secondi una mail con le istruzion per poter inserire una nuova password.
            <br>
        </div>
    <div class="form-group">
        <label for="email" class="col-sm-4 control-label margin-bottom-15">E-mail</label>
        <div class="col-sm-6">
            <input type="text" name="email" placeholder="Email" value="{{ user.email }}" id="email" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn-green btn-outline-green" type="submit">Reset Password</button>
        </div>
    </div>
</form>
{% endblock %}