{% extends 'auth.html' %}

{% block auth %}
<form action="/users/reset/{{ token }}" method="post" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <div class="form-group">
        <label for="password" class="col-sm-4 control-label">Nuova password</label>
        <div class="col-sm-8">
            <input type="password" name="password" placeholder="Nuova password" value="{{ user.password }}" id="password" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn-green btn-outline-green" type="submit">Aggiorna Password</button>
        </div>
    </div>
</form>
{% endblock %}