{% include '../includes/head.html' %}

<body>
<div class="contents">
{% include '../includes/header.html' %}

{% block content %}



<div class="main-content">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 margin-top-50">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Profilo Utente
                        <p align="right">{{ user.name }} {{ user.username }}</p> </h3>
                        </div>
                         <div class="panel-body">
                              <div class="row">
                                  {% include '../includes/messages.html' %}
                               <div class="col-sm-12">




 {% if user.provider==="local" && !user.active && user.smscount < 3  %}
                                   <div class="col-md-offset-2 col-sm-8" >
 Completa subito la tua registrazione:
  <div class="list-group-item">
                                 <p class="alert">
                                    Per poter inserire gli annunci è necessario verificare il proprio account<br>
                                    Il numero di telefono su cui riceverai il messaggio con il codice di attivazione è il seguente :<br>
                                    {{ user.cell }} <br>se non è corretto inserisci il numero di telefono (es. 3341234567)<br>
                                 SMS inviati = {{ user.smscount }}
                                 </p>

                                    <form action="/users/sendMessage" method="post" role="form" class="form-horizontal">
                                        <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                                        <input type="hidden" name="id" value="{{ user.id }}">

                                        <input type="text" name="cell" value="{{ user.cell }}">

                                        <input type="submit" text="invia SMS" class="btn-green">
                                    </form>


  </div>
                                       </div>
{% else %}


{% if user.provider=="google" && !user.active ||  user.provider=="facebook" && !user.active || user.provider=="twitter" && !user.active %}
                                   <div class="col-md-offset-2 col-sm-8 margin-top-15" >
                                   <div class="list-group-item">
                                       <p class="alert">
                                    Per poter inserire gli annunci è necessario verificare il proprio account<br>
                                    Inserisci qui il tuo numero di cellulare per ricevere il codice di attivazione
                                </p>
                                <form action="/users/sendMessage" method="post" role="form" class="form-horizontal">
                                    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                                    <input type="hidden" name="username" value="{{ user.username }}">
                                    <input type="hidden" name="id" value="{{ user.id }}">

                                    <input type="text" name="cell">

                                    <input type="submit" text="invia SMS" class="btn-green">
                                </form>
</div>
                                       </div>
{% endif %}

{% endif %}

{% if !user.active %}
                                   <div class="col-md-offset-2 col-sm-8 margin-top-15" >

                                   <div class="list-group-item">
                                       <div class="form-group">
                                       <form action="/users/activate" method="post" role="form" class="form-horizontal">
                                           <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                                           <input id="username" type="hidden" name="id" value="{{ user.id }}">
                                       </div>
                                       <p class="alert">Inserisci il codice ricevuto tramite SMS e procedi con l'attivazione:
</p>


                                        <div class="form-group">
                                            <input id="code" class="form-control" type="code" placeholder="Codice" name="code">
                                            </div>

                                       </p>

<br>
                                    <div class="form-group">

                                            <button class="btn-green" type="submit">Attiva account</button>

                                    </div>
                                </form>
</div>

                                   </div>
{% endif %}

                                    {% if user.provider=="google" %}
                                    <div class="col-sm-6">


                                        <img class="img-thumbnail img-circle img-responsive" src="{{ user.google.picture }}" width="200" height="200">
                                    </div>
                                    {% endif %}
                                    <div class="col-sm-6">
                                        <h2>Nome: {{ user.name }}</h2>
                                        <h2>Città: {{ user.city }}</h2>
                                        <h2>Provincia: {{ user.prov }}</h2>
                                        <h2>CAP: {{ user.cap }}</h2>
                                        <h2>Telefono: {{ user.cell }}</h2>
                                        <h2>Utente attivo: {{ user.active }}</h2>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Annunci Inseriti</h3>
                    </div>
                    <div class="panel-body">
                        {% if (articles.length) %}
                        {% for article in articles %}
                        {% include 'userArticle.html' %}
                        {% endfor %}
                        <div class="panel-body">
                            <div class="pager-nav text-center">
                                {% if (pages > 0) %}
                                <ul class="pagination">
                                    {% autoescape false %}
                                    {{ createPagination(pages, page) }}
                                    {% endautoescape %}
                                </ul>
                                {% endif %}
                                {% else %}
                                <h4 class="muted">
                                    Non ci sono annunci.&nbsp;
                                    <a href="/articles/new">Inserisci il tuo primo annuncio!</a>
                                </h4>
                                {% endif %}
                    </div>
                </div>
            </div>
        </div>
     </div>
    </div>
        </div>
</div>
    {% endblock %}
</div>
    {% include '../includes/footer.html' %}
    <footer class="footer"></footer>
    <!-- jQuery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>


</body>

</html>