{% extends 'auth.html' %}
{% block message %}{% endblock %}
{% block errors %}{% endblock %}
{% block auth %}
  <form action="/users" method="POST" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
      <input type="hidden" name="prov" value="{{ user.prov }}" id="prov"/>
      <input type="hidden" name="cityCode" value="{{ user.cityCode }}" id="cityCode"/>
      <input type="hidden" name="lat" value="{{ user.lat }}" id="lat"/>
      <input type="hidden" name="lon" value="{{ user.lon }}" id="lon"/>

    <div class="form-group">
      <label for="name" class="col-sm-4 control-label">Nome</label>
      <div class="col-sm-8">
        <input id="name" class="form-control" type="text" name="name" placeholder="Nome" value="{{ user.name }}" onblur="checkEmptyField(this);">
      </div>
    </div>
      <div class="col-sm-offset-4 alert-danger margin-bottom-10" id="divCheckname" hidden="true" align="center">Attenzione! Il campo Nome è obbligatorio</div>

      <div class="form-group">
          <label for="username" class="col-sm-4 control-label">Cognome</label>
          <div class="col-sm-8">
              <input id="username" class="form-control" type="text" name="username" placeholder="Cognome" value="{{ user.username }}" onblur="checkEmptyField(this);">
          </div>
      </div>
      <div class="col-sm-offset-4 alert-danger margin-bottom-10" id="divCheckusername" hidden="true" align="center">Attenzione! Il campo Cognome è obbligatorio</div>

      <div class="form-group">
      <label for="email" class="col-sm-4 control-label">E-mail</label>
      <div class="col-sm-8">
        <input type="text" name="email" placeholder="Email" value="{{ user.email }}" id="email" class="form-control" onblur="checkEmptyField(this);">
      </div>
    </div>
      <div class="col-sm-offset-4 alert-danger margin-bottom-10" id="divCheckemail" hidden="true" align="center">Attenzione! Il campo e-mail è obbligatorio</div>


    <div class="form-group">
      <label for="password" class="col-sm-4 control-label">Password</label>
      <div class="col-sm-8">
        <input id="password" class="form-control" type="password" name="password" placeholder="Password" aria-required="true">
      </div>
    </div>
      <div class="form-group">
          <label for="password" class="col-sm-4 control-label">Ripeti Password</label>
          <div class="col-sm-8">
              <input id="re_password" class="form-control" type="password" name="re_password" placeholder="Ripeti Password" aria-required="true">
          </div>

      </div>

      <div class="col-sm-offset-4 alert-danger margin-bottom-10" id="divCheckPasswordMatch" hidden="true" align="center">Attenzione! Le password non corrispondono!</div>

      <div class="form-group">
          <label for="cell" class="col-sm-4 control-label">Cellulare</label>
          <div class="col-sm-8">
              <input id="cell" class="form-control" type="tel" name="cell" placeholder="Numero Cellulare" value="{{ user.cell }}" onblur="checkEmptyField(this);">
          </div>
      </div>
      <div class="col-sm-offset-4 alert-danger margin-bottom-10" id="divCheckcell" hidden="true" align="center">Attenzione! Il numero di telefono è necessario se si vuole inserire un annuncio</div>

      <div class="form-group">
          <label for="city" class="col-sm-4 control-label">Città</label>
          <div class="col-sm-8">
              <input id="city" class="form-control" type="city" name="city" placeholder="Città" autocomplete="off" aria-required="true" value="{{ user.city }}" >
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-4 control-label">Captcha</label>
          <div class="col-sm-8">
              <div class="g-recaptcha" data-sitekey="6LcTCQgTAAAAAH76AFbIYXmU94FAlIn-jfFbkygM"></div>
          </div>
      </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-10">
        <button class="btn-green btn-outline-green" type="submit" disabled="disabled" id="register">Registrati</button>
      </div>
    </div>
  </form>

{% endblock %}