<div class="list-group">
    <div class="list-group-item">
        <div class="row">
            <div class="col-sm-2">
                {% if (!article.isNew && article.image && article.image.files && article.image.files.length) %}
                <a href="{{ '/articles/' + article._id }}" class="text-underline" title="{{ article.name }}">
                <img src="{{ article.image.cdnUri + '/' + article._id + '/thumb_' + article.image.files[0].originalname }}" alt="" class="img-responsive">
                </a>
                {% else %}
                <img src="../images/NoImagePlaceholder.png" alt="Nessuna immagine" class="img-responsive">
                {% endif %}
                <div class="text-right margin-top-5">
                    <a href="#"><span class="label label-default">{{ article.image.files.length }} <img src="../images/camera.png" alt=""></span></a>
                </div>
            </div>
            <div class="col-sm-8">
                <a href="{{ '/articles/' + article._id }}" class="text-underline" title="{{ article.name }}">{{ article.name }}</a>
                <p>{{ article.description }}</p>
            </div>
                <div class="col-sm-2 text-right">
                <button type="button" class="btn btn-green text-bold">{{ article.price }} €</button>
                </div>
                <div class="col-sm-10 text-right">
                <span class="muted">{{ article.createdAt.toISOString()|date('d-M-Y h:m a') }}</span>
                </div>
            <div class="col-sm-4">
                <form action="{{ '/articles/' + article.id }}" method="post" onsubmit="return confirm('Are you sure?')">
                    <br>
                    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                    <a href="{{ '/articles/' + article._id + '/edit' }}" title="edit" class="btn btn-outline-green">
                        Modifica
                    </a>
                    &nbsp;
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger" type="submit">Elimina</button>
                </form>
            </div>
        </div>

    </div>
</div>


<!--

<div class="article">
  <h3>
    <a href="{{ '/articles/' + article._id }}" title="{{ article.title }}">
      {{ article.title }}
    </a>
  </h3>
  <p>{{ article.body }}</p>
    <div class="img-thumbnail">
    {% if (!article.isNew && article.image && article.image.files && article.image.files.length) %}
    <img src="{{ article.image.cdnUri + '/thumb_' + article.image.files[0].originalname }}" alt="">
    {% endif %}
    </div>
  <span class="muted">{{ article.createdAt.toISOString()|date('d-M-Y h:m a') }}</span>



  {% if (article.user) %}
    &nbsp; - &nbsp;
    <span>Author: </span>
    <a href="{{ '/users/' + article.user._id }}">
      {{ article.user.name || article.user.username }}
    </a>
  {% endif %}

  {% if (article.tags) %}
    &nbsp; - &nbsp;
    <span>Tags: </span>
    {% for tag in article.tags.split(',') %}
      <i class="muted fa fa-tag"></i>&nbsp;
      <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
      &nbsp;&nbsp;
    {% endfor %}
  {% endif %}
</div>
-->