<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conto Vendita Online</title>

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/vegas.min.css">
    <link type="text/css" rel="stylesheet" href="css/custom.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="contents">
    {% include '../includes/header.html' %}

    <div class="main-content">
        <div class="container vertical-align-middle">
            <div class="row">
                <div class="col-md-7 margin-bottom-15">
                    <p class="h1 text-bold text-white">Benvenuto su contovenditaonline.it</p>
                    <p class="h2  text-white"><span class="text-bold">II sito di conto vendita Leader in Italia</span></p>
                </div>
                <div class="col-md-5 margin-bottom-15">
                    <div class="embed-responsive embed-responsive-16by9" style="background-color:#70737A">
                        <!-- Add your video URL here and don't forget to remove background color from above line -->
                        <!-- <iframe class="embed-responsive-item" src=""></iframe> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="images/italia.png" alt="" class="italia img-responsive center-block hidden-xs">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="/articles"><img src="images/compro.png" alt="" class="img-responsive center-block"></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="/articles/new"><img src="images/vendo.png" alt="" class="img-responsive center-block"></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="/partners/login"><img src="images/rivenditore.png" alt="" class="img-responsive center-block"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vegas.min.js"></script>
<script type="text/javascript">

    $(function() {
        $('.contents').vegas({
            delay: 7000,
            timer: false,
            shuffle: true,
            transitionDuration: 2000,
            slides: [
                { src: 'images/background-01.jpg' },
                { src: 'images/background-02.jpg' },
                { src: 'images/background-03.jpg' },
                { src: 'images/background-04.jpg' },
                { src: 'images/background-05.jpg' },
                { src: 'images/background-06.jpg' },
                { src: 'images/background-07.jpg' },
                { src: 'images/background-08.jpg' }
            ],
            overlay: true
        });
    });
</script>
<script src="../../js/cookielaw.js"></script>
{% include '../includes/footer.html' %}
{% include '../includes/foot.html' %}
</body>
</html>