<header>
    <nav class="navbar navbar-static-top navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="http://cvol.innaas.com:3000/images/logo.png" alt="Conto Vendita Online" width="143" height="48">
                </a>
            </div>
        </div>
    </nav>
</header>

<p>Ciao {{ name }}</p>


<p>Ti confermiamo che il cambio delll password per il tuo account è avvenuto con successo!<br>
    Accedi subito al tuo profilo cliccando questo link:<br><br>
    <a href="http://{{ url }}/login">Entra su ContoVendita Online</a><br><br>
    </p>

<div class="footer-menu footer-copy margin-top-15">
    © Copyright 2015 a cura di CVOL Srl. Tutti i diritti riservati.<br>
    ContoVendita OnLine: il primo sito dove poter vendere i propri veicoli in conto vendita

</div>