<header>
    <nav class="navbar navbar-static-top navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="http://cvol.innaas.com:3000/images/logo.png" alt="Conto Vendita Online" width="143" height="48">
                </a>
            </div>
        </div>
    </nav>
</header>

    Benvenuto in ContoVenditaOnLine.it Il primo portale di contovendita on line in Italia,<br>
    Ti ringraziamo per aver effettuato la registrazione.<br><br>

    I dati per accedere alla tua area personale sono i seguenti:<br>
    E-Mail : {{ to }}<br>
    Password: (password scelta in fase di registrazione)
<br>
<br>
    Per accedere clicca sul seguente link:
    http://www.cvol.it/login


<br><br>
Questo messaggio è stato generato in automatico. Se hai domande da farci, non rispondere a questo indirizzo ma contatta il nostro Supporto Clienti.
        <br>

<div class="footer-menu footer-copy margin-top-15">
    © Copyright 2015 a cura di CVOL Srl. Tutti i diritti riservati.<br>
    ContoVendita OnLine: il primo sito dove poter vendere i propri veicoli in conto vendita

</div>