<header>
    <nav class="navbar navbar-static-top navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="http://cvol.innaas.com:3000/images/logo.png" alt="Conto Vendita Online" width="143" height="48">
                </a>
            </div>
        </div>
    </nav>
</header>

<p>Ciao {{ name }}</p>


<p>Hai ricevuto questa mail perchè hai richiesto il reset della password per il tuo account.<br>
    Clicca su link qui sotto oppure copia l'indirizzo nel tuo browser per completare il processo:<br><br>
    <a href="http://{{ url }}/users/reset/{{ token }}">Reset Password</a><br><br>
    Se non hai richiesto tu il reset della password, ti preghiamo di ignorare questa mail.</p>

<div class="footer-menu footer-copy margin-top-15">
    © Copyright 2015 a cura di CVOL Srl. Tutti i diritti riservati.<br>
    ContoVendita OnLine: il primo sito dove poter vendere i propri veicoli in conto vendita

</div>