  {% include '../includes/head.html' %}

  <body>
  <div class="contents">
    {% include '../includes/header.html' %}

        {% block main %}{% endblock %}



        {% block content %}{% endblock %}
</div>
    {% include '../includes/footer.html' %}
    {% include '../includes/foot.html' %}

  </body>
</html>
